<div class="w-full max-w-3xl">
  <!-- Form -->
  <form [formGroup]="form">
    <!-- Section -->
    <div class="w-full">
      <div class="text-3xl font-extrabold tracking-tight leading-none">
        {{ 'ORGANIZATION.SETTINGS.RESOUCES.STATUS' | transloco }}
      </div>
    </div>
    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
      <div class="sm:col-span-4">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>{{ 'ORGANIZATION.SETTINGS.RESOUCES.STATUS' | transloco }}</mat-label>
          <mat-select [formControlName]="'statusType'">
            <mat-option [value]="'operational'">Operational</mat-option>
            <mat-option [value]="'non-operational'">Non-operational</mat-option>
            <mat-option [value]="'minor-repair'">Needs minor repair</mat-option>
            <mat-option [value]="'major-repair'">Needs major repair</mat-option>
            <mat-option [value]="'sold'">Sold</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="sm:col-span-4 mt-3">
          <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
            <mat-label>{{ 'ORGANIZATION.SETTINGS.RESOUCES.DESCRIPTION' | transloco }}</mat-label>
            <textarea matInput [formControlName]="'statusDescription'" cdkTextareaAutosize [cdkAutosizeMinRows]="5"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>

    <!-- Divider -->
    <div class="mt-11 mb-10 border-t"></div>

    <!-- Actions -->
    <div class="flex items-center justify-end">
      <button class="ml-4" mat-flat-button type="button" [color]="'primary'" (click)="onSubmit()">
        {{ 'APP.BTN.SUBMIT' | transloco }}
      </button>
    </div>
  </form>
</div>
