<div class="flex flex-auto justify-center w-full max-w-5xl mx-auto p-6 sm:p-8">
    <div class="hidden lg:flex flex-col items-start mr-8">
        <fuse-card class="flex flex-col max-w-80 w-full p-8">
            <div class="flex flex-col">
                <div class="flex items-center">
                    <mat-icon
                        class="icon-size-5 mr-3"
                        [svgIcon]="'heroicons_solid:briefcase'"
                    ></mat-icon>                    
                    <span class="leading-none">
                        {{ data.user.title }} at {{ data.user.company }}
                    </span>
                </div>

                <hr class="w-full border-t my-6">

                <div class="flex items-center">
                    <mat-icon
                        class="icon-size-5 mr-3"
                        [svgIcon]="'heroicons_solid:cake'"
                    ></mat-icon>                    
                    <span class="leading-none">
                        {{ data.user.birthday | date:'dd/MM/yyyy' }}
                    </span>
                </div>
                
                <hr class="w-full border-t my-6">

                <div class="flex items-center">
                    <mat-icon
                        class="icon-size-5 mr-3"
                        [svgIcon]="'heroicons_solid:location-marker'"
                    ></mat-icon>                    
                    <span class="leading-none">{{ data.user.address }}</span>
                </div>

                <hr class="w-full border-t my-6">

                <div
                    class="flex items-center mt-4"
                    *ngFor="let email of data.user.emails"
                >
                    <mat-icon
                        class="icon-size-5 mr-3"
                        [svgIcon]="'heroicons_solid:mail'"                        
                    >
                    </mat-icon>
                    <span class="leading-none">{{ email.email }}</span>
                    <div class="mr-1"></div>
                    <div class="fuse-vertical-navigation-item-badge-content px-2 bg-blue-600 text-white rounded-full">
                        {{ email.label }}
                    </div>
                </div>

                <hr class="w-full border-t my-6">

                <div
                    class="flex items-center mt-4"
                    *ngFor="let phone of data.user.phoneNumbers"
                >
                    <mat-icon
                        class="icon-size-5 mr-3"
                        [svgIcon]="'heroicons_solid:phone'"                        
                    >
                    </mat-icon>
                    <span class="leading-none">{{ phone.phoneNumber }}</span>
                    <div class="mr-1"></div>
                    <div class="fuse-vertical-navigation-item-badge-content px-2 bg-blue-600 text-white rounded-full">
                        {{ phone.label }}
                    </div>
                </div>
            </div>
        </fuse-card>
    </div>

    <div class="flex flex-col items-start">
        <fuse-card class="flex flex-col max-w-140 w-full p-6 sm:p-8 pb-6">
            <div class="text-2xl font-semibold leading-tight">{{ 'APP.ROUTES.USER.ABOUT.ABOUT_ME' | translate }}</div>
            
            <div class="mt-4" [innerHTML]="data.user.notes">
                <!-- using the notes property in user mock-api, it contains HTML so for now i'm using innerHTML -->    
            </div>
        </fuse-card>
    </div>
</div>
