<app-reusable-settings [title]="title" [selectedPanel]="selectedPanel" (onSelectedPanelChange)="changeSelectedPanel($event)" [panels]="panels">
  <ng-container content [ngSwitch]="selectedPanel">
    <ng-container *ngSwitchCase="'general'">
      <app-resource-setting-reservation-general [settings]="settings" (updateLocalSettings)="updateLocalSettings($event)">
      </app-resource-setting-reservation-general>
    </ng-container>
    <ng-container *ngSwitchCase="'units'">
      <app-resource-setting-reservation-units [settings]="settings" (updateLocalSettings)="updateLocalSettings($event)">
      </app-resource-setting-reservation-units>
    </ng-container>
    <ng-container *ngSwitchCase="'rates'">
      <app-resource-setting-reservation-rates [settings]="settings" (updateLocalSettings)="updateLocalSettings($event)">
      </app-resource-setting-reservation-rates>
    </ng-container>
    <ng-container *ngSwitchCase="'time_restriction'">
      <app-resource-setting-reservation-time-restriction [settings]="settings" (updateLocalSettings)="updateLocalSettings($event)">
      </app-resource-setting-reservation-time-restriction>
    </ng-container>
    <ng-container *ngSwitchCase="'groups'">
      <app-resource-setting-reservation-group [settings]="settings" (updateLocalSettings)="updateLocalSettings($event)">
      </app-resource-setting-reservation-group>
    </ng-container>
    <ng-container *ngSwitchCase="'visibility'">
      <app-resource-setting-reservation-visibility [settings]="settings" (updateLocalSettings)="updateLocalSettings($event)">
      </app-resource-setting-reservation-visibility>
    </ng-container>
  </ng-container>
</app-reusable-settings>
