<div class="w-full max-w-3xl">
  <!-- Form -->
  <form [formGroup]="generalSettingstForm">
    <!-- Section -->
    <div class="w-full">
      <div class="text-3xl font-extrabold tracking-tight leading-none">Project details</div>
    </div>
    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
      <!-- Name -->
      <div class="sm:col-span-4">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Name</mat-label>
          <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user'" matPrefix></mat-icon>
          <input [formControlName]="'name'" matInput />
        </mat-form-field>
      </div>
      <!-- Key -->
      <div class="sm:col-span-4">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Key</mat-label>
          <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:key'" matPrefix></mat-icon>
          <input [formControlName]="'key'" matInput />
        </mat-form-field>
      </div>
      <!-- Responsable -->
      <div class="sm:col-span-4">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Responsable</mat-label>
          <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user-circle'" matPrefix></mat-icon>
          <input [formControlName]="'responsable'" matInput />
        </mat-form-field>
      </div>
      <!-- Start and end date -->
      <mat-form-field appearance="fill" class="sm:col-span-4">
        <mat-label required>{{ 'ORGANIZATION.PROJECTS.FORM.ENTER_DATE' | transloco }}</mat-label>
        <mat-date-range-input [rangePicker]="rangePicker">
          <input [formControlName]="'dateStart'" matStartDate placeholder="{{ 'ORGANIZATION.PROJECTS.FORM.STARTDATE' | transloco }}" />
          <input [formControlName]="'dateEnd'" matEndDate placeholder="{{ 'ORGANIZATION.PROJECTS.FORM.ENDDATE' | transloco }}" />
        </mat-date-range-input>
        <mat-hint>{{ 'ORGANIZATION.PROJECTS.FORM.DATE_HINT' | transloco }}</mat-hint>
        <mat-datepicker-toggle matPrefix [for]="rangePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #rangePicker>
          <mat-date-range-picker-actions>
            <button mat-button matDateRangePickerCancel>{{ 'APP.BTN.CANCEL' | transloco }}</button>
            <button mat-raised-button color="primary" matDateRangePickerApply>{{ 'APP.BTN.APPLY' | transloco }}</button>
          </mat-date-range-picker-actions>
        </mat-date-range-picker>
      </mat-form-field>
      <div class="sm:col-span-4">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Status</mat-label>
          <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:location-marker'" matPrefix></mat-icon>
          <mat-select [formControlName]="'status'">
            <mat-option [value]="'to-do'">to do</mat-option>
            <mat-option [value]="'in-progress'">in progress</mat-option>
            <mat-option [value]="'review'">review</mat-option>
            <mat-option [value]="'done'">done</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- Description -->
      <div class="sm:col-span-4">
        <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
          <mat-label>Description</mat-label>
          <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:menu-alt-2'" matPrefix></mat-icon>
          <textarea matInput [formControlName]="'description'" cdkTextareaAutosize [cdkAutosizeMinRows]="5"></textarea>
        </mat-form-field>
        <div class="mt-1 text-md text-hint">description for your project.</div>
      </div>
    </div>

    <!-- Divider -->
    <div class="mt-11 mb-10 border-t"></div>

    <!-- Actions -->
    <div class="flex items-center justify-end">
      <button mat-stroked-button type="button">Cancel</button>
      <button class="ml-4" mat-flat-button type="button" [color]="'primary'">Save</button>
    </div>
  </form>
</div>