<app-reusable-settings [title]="title" [selectedPanel]="selectedPanel" (onSelectedPanelChange)="changeSelectedPanel($event)" [panels]="panels">
  <ng-container content [ngSwitch]="selectedPanel">
    <ng-container *ngSwitchCase="'general'">
      <app-resource-setting-general-general [settings]="settings"> </app-resource-setting-general-general>
    </ng-container>
    <ng-container *ngSwitchCase="'status'">
      <app-resource-setting-general-status [settings]="settings" (updateLocalSettings)="updateLocalSettings($event)">
      </app-resource-setting-general-status>
    </ng-container>
    <ng-container *ngSwitchCase="'visibility'">
      <app-resource-setting-general-visibility [settings]="settings" (updateLocalSettings)="updateLocalSettings($event)">
      </app-resource-setting-general-visibility>
    </ng-container>
    <ng-container *ngSwitchCase="'properties'">
      <app-resource-setting-general-properties [settings]="settings" (updateLocalSettings)="updateLocalSettings($event)">
      </app-resource-setting-general-properties>
    </ng-container>
  </ng-container>
</app-reusable-settings>
