<mat-card class="columns-1 card">
    <form [formGroup]="form">

        <mat-form-field appearance="fill">
            <mat-label>Frequency</mat-label>
            <mat-select formControlName="freq">
                <mat-option *ngFor="let freq of freqList" [value]="freq.value">
                    {{freq.title}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Timezone</mat-label>
            <input matInput type="text" placeholder="Timezone" formControlName="tz" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let timezone of filteredTZs | async" [value]="timezone">
                    {{timezone}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Weekend Start by</mat-label>
            <mat-select formControlName="freq">
                <mat-option *ngFor="let day of daysList" [value]="day">
                    {{day}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Count</mat-label>
            <input matInput type="number" placeholder="Count..." formControlName="count" />
        </mat-form-field>

        <div style="display: flex;justify-content: end;">
            <button mat-button color="warn">Cancel</button>
            <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
        </div>
    </form>
</mat-card>
