<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
  <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8">
    <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
      <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>

    <div>
      <div class="flex items-center justify-between w-full">
        <div class="text-4xl font-extrabold tracking-tight leading-none">{{ 'ORGANIZATION.SETTINGS.RESOUCES.TITLE' | transloco }}</div>
        <div class="sm:hidden mt-6 sm:mt-0 sm:ml-4">
          <button class="ml-4" mat-flat-button [color]="'primary'" (click)="openCreateDialog()">
            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            <span class="ml-0.5 mr-0.5">{{ 'ORGANIZATION.INFRASTRUCTURES.CREATE_INFRASTRUCTURE_MOBILE' | transloco }}</span>
          </button>
        </div>
      </div>

      <div>
        <div class="ml-0.5 font-medium text-secondary">
          <ng-container *ngIf="resourcesCount > 0">
            {{ resourcesCount }}
          </ng-container>
          {{
            resourcesCount
              | i18nPlural
                : {
                    '=0': 'No resources',
                    '=1': 'resource',
                    other: 'resources'
                  }
          }}
        </div>
      </div>
      <div class="mt-8 text-md font-medium text-secondary text-center">
        <span>{{ 'ORGANIZATION.SETTINGS.RESOUCES.MESSAGE' | transloco }}</span>
        <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['/sign-in']">Infrastructure settings </a>
      </div>
    </div>

    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
      <button class="hidden sm:inline-flex ml-4" mat-flat-button [color]="'primary'" (click)="openCreateDialog()">
        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
        <span class="ml-2 mr-1">{{ 'ORGANIZATION.SETTINGS.RESOUCES.CREATE_RESOURCE' | transloco }}</span>
      </button>
    </div>
  </div>

  <list-component
    [dataList]="resources"
    [options]="options"
    [message]="'ORGANIZATION.INFRASTRUCTURES.NO_RESOURCES' | transloco"></list-component>
  <mat-paginator
    class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
    [ngClass]="{ 'pointer-events-none': isLoading }"
    [length]="pagination.length"
    [pageIndex]="pagination.page"
    [pageSize]="pagination.size"
    (page)="pageEvent($event)"
    [pageSizeOptions]="[5, 10, 25, 100]"
    [showFirstLastButtons]="true"></mat-paginator>
</div>
<router-outlet></router-outlet>
