.inventory-grid {
  grid-template-columns: 1fr 1fr 1fr;

  @screen sm {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @screen md {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  @screen lg {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
.resource-card-detail {
  width: 100%;
  padding-left: 64px;
}
