  <div>
    <!-- <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
      <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
      <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search Groups'" />
    </mat-form-field> -->
    <!-- <button class="ml-4" mat-flat-button [color]="'primary'" routerLinkActive="active" [routerLink]="['/groups/group/create']">
      <mat-icon [svgIcon]="'heroicons_outline:adjustments'"></mat-icon>
      <span class="ml-2 mr-1">{{ 'ORGANIZATION.GROUPS.FILTER_GROUPS' | transloco }}</span>
    </button>
    <button class="ml-4" mat-flat-button [color]="'primary'" routerLinkActive="active" [routerLink]="['/groups/group/create']">
      <mat-icon [svgIcon]="'heroicons_outline:upload'"></mat-icon>
      <span class="ml-2 mr-1">{{ 'ORGANIZATION.GROUPS.IMPORT_GROUPS' | transloco }}</span>
    </button>
    <button class="ml-4" mat-flat-button [color]="'primary'" routerLinkActive="active" [routerLink]="['/groups/group/create']">
      <mat-icon [svgIcon]="'heroicons_outline:download'"></mat-icon>
      <span class="ml-2 mr-1">{{ 'ORGANIZATION.GROUPS.EXPORT_GROUPS' | transloco }}</span>
    </button> -->
  </div>
  <br />
  <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4"></div>

  <!-- Main -->
  <div class="flex flex-auto overflow-hidden">
    <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
      <ng-container *ngIf="dataList">
        <ng-container *ngIf="dataList.length > 0; else noGroups">
          <div class="grid" [ngStyle]="{'max-height': '60vh'}" >
            <!-- Header -->
            <div
              [ngStyle] ="getColumsStyles()" 
              class="inventory-grid text-center z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5 flex align-center"
              matSort
              matSortDisableClear>
              <ng-container *ngFor="let header of headers">
                <div class="hidden lg:block">{{header}}</div>
              </ng-container>
            </div>

            <ng-container *ngIf="dataList">
              <ng-container *ngFor="let item of dataList; index as indexOfelement; trackBy: trackByFn">
                <div [ngStyle] ="getColumsStyles()"  class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b cursor-pointer">
                  <ng-container *ngFor="let key of keys">
                    <div class="flex align-center justify-center" [innerHTML]="item[key]"></div>
                  </ng-container>
                </div>
              </ng-container>
            </ng-container>
          </div>
          <mat-paginator
            class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
            (page)="handlePageEvent($event)"
            [ngClass]="{ 'pointer-events-none': isLoading }"
            [length]="pagination.length"
            [pageIndex]="pagination.page"
            [pageSize]="pagination.size"
            [pageSizeOptions]="[5, 10, 25, 100]"
            [showFirstLastButtons]="true">
          </mat-paginator>
        </ng-container>
        <ng-template #noGroups>
          <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">{{ 'ORGANIZATION.MEMBERS.LIST.MESSAGE' | transloco }}</div>
        </ng-template>
      </ng-container>
    </div>
  </div>
