<div class="flex flex-auto my-4 sm:mx-36">
  <div class="flex flex-col flex-auto w-full max-w-lg sm:max-w-full mx-auto">
    <div class="w-full max-w-screen-xl mx-auto">
      <fuse-card class="flex flex-auto p-6 bg-card shadow rounded-2xl">
        <div class="relative flex flex-col flex-auto items-center pt-0 sm:p-12 sm:pt-0">
          <div class="w-full max-w-3xl">
            <div class="flex flex-auto items-end" *ngIf="!editMode">
              <div class="flex items-center ml-auto mb-1">
                <button mat-stroked-button (click)="toggleEdit()" [matTooltip]="'APP.ROUTES.USER.ABOUT.EDIT_DESC' | transloco">
                  <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                  <span class="ml-2">{{ 'APP.ROUTES.USER.ABOUT.EDIT' | transloco }}</span>
                </button>
              </div>
            </div>

            <profile-view *ngIf="!editMode" [user]="this.data.user" [countries]="this.countries"></profile-view>
            <profile-form *ngIf="editMode" [user]="this.data.user" [countries]="this.countries"></profile-form>

            <div
              *ngIf="editMode"
              class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent"
            >
              <button mat-button [color]="'warn'" [matTooltip]="'APP.ROUTES.USER.ABOUT.DELETE_DESC' | transloco">
                {{ 'APP.ROUTES.USER.ABOUT.DELETE' | transloco }}
              </button>

              <button class="ml-auto" mat-button [matTooltip]="'APP.ROUTES.USER.ABOUT.CANCEL_DESC' | transloco" (click)="toggleEdit()">
                {{ 'APP.ROUTES.USER.ABOUT.CANCEL' | transloco }}
              </button>

              <button class="ml-2" mat-flat-button [color]="'primary'" [matTooltip]="'APP.ROUTES.USER.ABOUT.SAVE_DESC' | transloco">
                {{ 'APP.ROUTES.USER.ABOUT.SAVE' | transloco }}
              </button>
            </div>
          </div>
        </div>
      </fuse-card>
    </div>
  </div>
</div>
