<div class="flex flex-col flex-auto min-w-0">
  <!-- Header -->
  <div class="bg-card relative flex-0 px-4 pt-4 overflow-hidden bg-gray-800 dark">
    <svg
      class="absolute inset-0 pointer-events-none"
      viewBox="0 0 960 540"
      width="100%"
      height="100%"
      preserveAspectRatio="xMidYMax slice"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
        <circle r="234" cx="196" cy="23"></circle>
        <circle r="234" cx="790" cy="491"></circle>
      </g>
    </svg>
    <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-4">
      <!-- Back -->
      <div class="flex flex-col sm:flex-row items-center justify-between w-full max-w-xs sm:max-w-none">
        <button class="fuse-mat-button-rounded sm:mx-16" mat-flat-button [color]="'primary'" routerLink="{{ ['../'] }}">
          <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:arrow-circle-left'"></mat-icon>
          <span class="ml-2">Back</span>
        </button>
        <div class="flex flex-auto items-center min-w-0">
          <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
            <img class="w-full h-full object-cover" src="assets/images/logo/logo-2.svg" />
          </div>
          <div class="flex flex-col min-w-0 ml-4">
            <ng-container>
              <div class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">Science Wings</div>
            </ng-container>
            <div class="flex items-center">
              <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:users'"></mat-icon>
              <div class="ml-1.5 leading-6 truncate text-secondary">Vous avez 14 membres</div>
            </div>
          </div>
        </div>
      </div>

      <!-- Actions -->
      <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">
        <button class="fuse-mat-button-rounded" mat-flat-button [color]="'primary'">
          <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user'"></mat-icon>
          <span class="ml-2">Add user</span>
        </button>
      </div>
      <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">
        <button class="fuse-mat-button-rounded" mat-flat-button [color]="'primary'">
          <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:office-building'"></mat-icon>
          <span class="ml-2">Add organisation</span>
        </button>
      </div>
    </div>
  </div>

  <!-- Team -->
  <div class="flex-auto border-t -mt-px pt-4 sm:pt-6 p-16">
    <div *ngIf="teamMembers" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-full min-w-0">
      <ng-container *ngFor="let member of teamMembers">
        <div class="flex flex-col flex-auto items-center bg-card shadow rounded-2xl overflow-hidden">
          <!-- Avatar & Info -->
          <div class="flex flex-col flex-auto w-full p-8 text-center">
            <div class="w-32 h-32 mx-auto rounded-full overflow-hidden">
              <img class="w-full h-full object-cover" [src]="member.avatar" />
            </div>
            <div class="mt-6 font-medium">{{ member.name }}</div>
            <div class="text-secondary">{{ member.title }}</div>
          </div>
          <!-- Email & Phone -->
          <div class="flex items-center w-full border-t divide-x">
            <a class="flex flex-auto items-center justify-center py-4 hover:bg-hover" [href]="'mailto:' + member.email">
              <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:mail'"></mat-icon>
              <span class="ml-2">Email</span>
            </a>
            <a class="flex flex-auto items-center justify-center py-4 hover:bg-hover" [href]="'tel:' + member.phone">
              <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:phone'"></mat-icon>
              <span class="ml-2">Call</span>
            </a>
            <a class="flex flex-auto items-center justify-center py-4 hover:bg-hover" [href]="'tel:' + member.phone">
              <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:phone'"></mat-icon>
              <span class="ml-2">Details</span>
            </a>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
