<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
  <!-- Header -->
  <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8">
    <!-- Loader -->
    <!-- <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
      <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div> -->
    <!-- Title -->
    <div>
      <div class="text-4xl font-extrabold tracking-tight leading-none">{{ 'ORGANIZATION.PROJECTS.TITLE' | transloco }}</div>
      <div>
        <div class="ml-0.5 font-medium text-secondary">
          <ng-container *ngIf="projects.length > 0">
            {{ projects.length }}
          </ng-container>
          {{
            projects.length
              | i18nPlural
                : {
                    '=0': 'No Projects',
                    '=1': 'Project',
                    other: 'Project'
                  }
          }}
        </div>
      </div>
    </div>
    <!-- Actions -->
    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
      <button class="ml-4" mat-flat-button [color]="'primary'" (click)="openInviteProjectDialog()">
        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
        <span class="ml-2 mr-1">{{ 'ORGANIZATION.PROJECTS.CREATE_PROJECTS' | transloco }}</span>
      </button>
    </div>
  </div>

  <list-component [dataList]="projects" [options]="options" [message]="'ORGANIZATION.PROJECTS.LIST.MESSAGE' | transloco"></list-component>
</div>

<router-outlet></router-outlet>
