<div class="w-full mt-4 mb-4 ml-auto mr-auto bg-card shadow rounded-2xl">
  <div class="flex items-center w-full p-4">
    <div class="flex-1 text-2xl font-semibold p-1 leading-tight">{{ 'ORGANIZATION.CONTRACTS.TITLE' | transloco }}</div>
    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
      <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
        <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search contracts'" />
      </mat-form-field>

      <button class="ml-4" mat-flat-button [color]="'primary'" (click)="openInviteContractDialog()">
        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
        <span class="ml-2 mr-1"> {{ 'ORGANIZATION.CONTRACTS.CREATE_CONTRACTS' | transloco }} </span>
      </button>
    </div>
  </div>
  <list-component
    class="overflow-auto"
    [dataList]="contracts"
    [options]="options"
    [actionButtons]="actionButtons"
    [message]="'ORGANIZATION.CONTRACTS.LIST.MESSAGE' | transloco"></list-component>
  <mat-paginator
    class="sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
    [ngClass]="{ 'pointer-events-none': isLoading }"
    [length]="pagination.length"
    [pageIndex]="pagination.page"
    [pageSize]="pagination.size"
    (page)="pageEvent($event)"
    [pageSizeOptions]="[5, 10, 25, 100]"
    [showFirstLastButtons]="true"></mat-paginator>
</div>
