<div class="w-full max-w-3xl">
  <div class="flex items-center justify-end mb-5">
    <button class="ml-4" mat-flat-button type="button" [color]="'primary'" (click)="toggleRateCard()">
      {{ 'Add' | transloco }}
    </button>
  </div>
  <fuse-card class="flex flex-col p-8 pt-6 filter-list mb-5" [ngClass]="{ hidden: isCardHidden }">
    <div class="flex items-center justify-between">
      <div class="text-2xl font-semibold leading-tight">{{ 'Rate' | transloco }}</div>
      <div class="-mr-3">
        <button mat-icon-button [matMenuTriggerFor]="listCard07Menu">
          <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
        </button>
        <mat-menu #listCard07Menu="matMenu">
          <button mat-menu-item>View weekly</button>
          <button mat-menu-item>View monthly</button>
        </mat-menu>
      </div>
    </div>
    <div class="flex flex-col my-2">
      <form [formGroup]="form">
        <div class="my-2">
          <div>{{ 'Description' | transloco }}</div>
          <div class="sm:col-span-4">
            <mat-form-field class="fuse-mat-no-subscript w-full">
              <input [formControlName]="'description'" matInput />
            </mat-form-field>
          </div>
        </div>
        <div class="my-2">
          <div>{{ 'Rate' | transloco }}</div>
          <div class="sm:col-span-4">
            <mat-form-field class="fuse-mat-no-subscript w-full">
              <input [formControlName]="'rate'" matInput />
            </mat-form-field>
          </div>
        </div>
        <div class="my-2">
          <div class="sm:col-span-4">
            <mat-form-field class="fuse-mat-no-subscript w-full">
              <mat-label>{{ 'Category' | transloco }}</mat-label>
              <mat-select [formControlName]="'category'">
                <mat-option [value]="'english'">X</mat-option>
                <mat-option [value]="'french'">Y</mat-option>
                <mat-option [value]="'spanish'">Z</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="my-2">
          <div class="flex sm:col-span-4 justify-between my-1">
            <mat-label>{{ 'Applies to public' | transloco }}</mat-label>
            <mat-slide-toggle [formControlName]="'isPublic'" [color]="'primary'"> </mat-slide-toggle>
          </div>
        </div>
        <div class="my-2">
          <div class="flex sm:col-span-4 justify-between my-1">
            <mat-label>{{ 'Account' | transloco }}</mat-label>
            <mat-slide-toggle [formControlName]="'isRequiredAccountNumber'" [color]="'primary'"> </mat-slide-toggle>
          </div>
        </div>
        <div class="my-2">
          <div>{{ 'Durations' | transloco }}</div>
          <div class="sm:col-span-4">
            <mat-form-field class="fuse-mat-no-subscript w-full">
              <input [formControlName]="'duration'" matInput />
            </mat-form-field>
          </div>
        </div>

        <!-- Divider -->
        <div class="mt-11 mb-10 border-t"></div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
          <button mat-stroked-button type="button" (click)="onCancel()">{{ 'Cancel' | transloco }}</button>
          <button class="ml-4" mat-flat-button type="button" [color]="'primary'" (click)="onSubmit()">
            {{ (selectedRateId ? 'Update' : 'Add') | transloco }}
          </button>
        </div>
      </form>
    </div>
  </fuse-card>

  <ng-container *ngFor="let rate of rates">
    <fuse-card class="flex flex-col p-8 pt-6 filter-list mt-2">
      <table>
        <thead>
          <tr>
            <td></td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ 'Description' | transloco }}</td>
            <td>{{ rate.description }}</td>
          </tr>
          <tr>
            <td>{{ 'Rate' | transloco }}</td>
            <td>{{ rate.rate }}</td>
          </tr>
          <tr>
            <td>{{ 'Category' | transloco }}</td>
            <td>{{ rate.category }}</td>
          </tr>
          <tr>
            <td>{{ 'Applies to' | transloco }}</td>
            <td>{{ rate.isPublic }}</td>
          </tr>
          <tr>
            <td>{{ 'Account' | transloco }}</td>
            <td>{{ rate.isRequiredAccountNumber }}</td>
          </tr>
          <tr>
            <td>{{ 'Duration' | transloco }}</td>
            <td>{{ rate.duration }}</td>
          </tr>
        </tbody>
      </table>
      <!-- Divider -->
      <div class="mt-11 mb-10 border-t"></div>

      <!-- Actions -->
      <div class="flex items-center justify-between">
        <button mat-stroked-button type="button" [color]="'warn'">{{ 'Remove' | transloco }}</button>
        <button class="ml-4" mat-flat-button type="button" [color]="'primary'" (click)="onRateSelect(rate)">
          {{ 'Update' | transloco }}
        </button>
      </div>
    </fuse-card>
  </ng-container>
</div>
