<div class="w-full max-w-3xl">
  <!-- Form -->

  <form [formGroup]="form">
    <!-- Section -->

    <div class="w-full">
      <div class="text-3xl font-semibold tracking-tight leading-8 my-5">{{ 'ORGANIZATION.SETTINGS.ACCESS.TITLE_1' | transloco }}</div>

      <div class="flex sm:col-span-4 justify-between my-1">
        <mat-label>{{ 'ORGANIZATION.SETTINGS.ACCESS.OPTION_1' | transloco }}</mat-label>

        <mat-slide-toggle [formControlName]="'anyMemberCanJoinYourOrganizationAndAccessResourceSchedules'" [color]="'primary'">
        </mat-slide-toggle>
      </div>

      <div class="flex sm:col-span-4 justify-between my-1">
        <mat-label>{{ 'ORGANIZATION.SETTINGS.ACCESS.OPTION_2' | transloco }}</mat-label>

        <mat-slide-toggle
          [color]="'primary'"
          [(ngModel)]="isMemberShouldAccessByJoinCode"
          [ngModelOptions]="{ standalone: true }"
          (change)="memberShouldAccessByJoinCodeListener($event)">
        </mat-slide-toggle>
      </div>

      <div *ngIf="isMemberShouldAccessByJoinCode" class="sm:col-span-4">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>{{ 'ORGANIZATION.SETTINGS.ACCESS.OPTION_3' | transloco }}</mat-label>
          <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:lock-closed'"></mat-icon>
          <input matInput formControlName="joinCode" />
        </mat-form-field>
      </div>

      <div class="flex sm:col-span-4 justify-between my-1">
        <mat-label>{{ 'ORGANIZATION.SETTINGS.ACCESS.OPTION_4' | transloco }}</mat-label>
        <mat-slide-toggle [formControlName]="'yourOrganizationWillNeverAppearInSearchResults'" [color]="'primary'"> </mat-slide-toggle>
      </div>

      <div class="flex sm:col-span-4 justify-between my-1">
        <mat-label>{{ 'ORGANIZATION.SETTINGS.ACCESS.OPTION_5' | transloco }}</mat-label>

        <mat-slide-toggle [formControlName]="'notifyAdministratorsWhenMembersJoinOrganization'" [color]="'primary'"> </mat-slide-toggle>
      </div>

      <div class="flex sm:col-span-4 justify-between my-1">
        <mat-label>{{ 'ORGANIZATION.SETTINGS.ACCESS.OPTION_6' | transloco }}</mat-label>

        <mat-slide-toggle [formControlName]="'listResourceToNonMembers'" [color]="'primary'"> </mat-slide-toggle>
      </div>

      <div class="text-lg my-5">{{ 'ORGANIZATION.SETTINGS.ACCESS.OPTION_7' | transloco }}</div>

      <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
        <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:user-add'"></mat-icon>
        <textarea
          matInput
          [formControlName]="'messageSentToNewMembers'"
          [placeholder]="'Notes'"
          [rows]="5"
          [spellcheck]="false"
          matTextareaAutosize></textarea>
      </mat-form-field>
    </div>

    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8"></div>

    <!-- Divider -->

    <div class="mt-11 mb-10 border-t"></div>

    <!-- Actions -->

    <div class="flex items-center justify-end">
      <button mat-stroked-button type="button">{{ 'ORGANIZATION.SETTINGS.ACCESS.Cancel' | transloco }}</button>

      <button class="ml-4" mat-flat-button type="button" [color]="'primary'" (click)="onSubmit()">
        {{ 'ORGANIZATION.SETTINGS.ACCESS.Update' | transloco }}
      </button>
    </div>
  </form>
</div>
