<!-- eslint-disable  -->
<div *ngIf="user" class="inset-0 pt-8 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>
  <div class="flex flex-auto mt-2">
    <div class="flex flex-col flex-auto w-full max-w-lg sm:max-w-7xl mx-auto">
      <form class="p-4 mt-2 bg-card shadow rounded overflow-hidden" [formGroup]="stepperForm">
        <mat-horizontal-stepper [linear]="false" labelPosition="bottom" #horizontalStepper>
          <mat-step [formGroupName]="'step1'" [stepControl]="stepperForm.get('step1')" #horizontalStepperStep1>
            <ng-template matStepLabel>{{ 'APP.ROUTES.USER.NEW_USER_FORM.STEP_1.TITLE' | transloco }}</ng-template>
            <p class="my-6 font-medium"></p>
            <div class="grid grid-cols-2 flex flex-col gt-xs:flex-row">
              <mat-form-field class="flex-auto gt-xs:pr-3 mx-4">
                <mat-label>{{ 'APP.ROUTES.USER.ABOUT.FIRST_NAME' | transloco }}</mat-label>
                <input matInput [formControlName]="'firstName'" placeholder="{{ 'APP.ROUTES.USER.ABOUT.FIRST_NAME' | transloco }}" required />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
              </mat-form-field>
              <mat-form-field class="flex-auto gt-xs:pl-3 mx-4">
                <mat-label>{{ 'APP.ROUTES.USER.ABOUT.LAST_NAME' | transloco }}</mat-label>
                <input matInput [formControlName]="'lastName'" placeholder="{{ 'APP.ROUTES.USER.ABOUT.LAST_NAME' | transloco }}" required />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
              </mat-form-field>
            </div>
            <div class="grid grid-cols-2 flex flex-col gt-xs:flex-row">
              <mat-form-field class="flex-auto mx-4">
                <mat-label>{{ 'APP.ROUTES.USER.ABOUT.EMAIL' | transloco }}</mat-label>
                <input
                  matInput
                  [formControlName]="'email'"
                  placeholder="<mat-label>{{ 'APP.ROUTES.USER.ABOUT.EMAIL' | transloco }}</mat-label>"
                  required
                />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:mail'"></mat-icon>
              </mat-form-field>
              <mat-form-field class="flex-auto mx-4">
                <mat-label>{{ 'APP.ROUTES.USER.ABOUT.BIRTH_DATE' | transloco }}</mat-label>
                <input
                  matInput
                  [matDatepicker]="dateOfBirthDatePicker"
                  [formControlName]="'dateOfBirth'"
                  placeholder="{{ 'APP.ROUTES.USER.ABOUT.BIRTH_DATE' | transloco }}"
                  required
                />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:cake'"></mat-icon>
                <mat-datepicker-toggle matSuffix [for]="dateOfBirthDatePicker"> </mat-datepicker-toggle>
                <mat-datepicker #dateOfBirthDatePicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="flex justify-end">
              <button
                class="px-8"
                mat-flat-button
                [color]="'primary'"
                [disabled]="horizontalStepperStep1.stepControl.pristine || horizontalStepperStep1.stepControl.invalid"
                type="button"
                matStepperNext
              >
                {{ 'APP.GENERAL.NEXT' | transloco }}
              </button>
            </div>
          </mat-step>

          <mat-step [formGroupName]="'step2'" [stepControl]="stepperForm.get('step2')" #horizontalStepperStep2>
            <ng-template matStepLabel>{{ 'APP.ROUTES.USER.NEW_USER_FORM.STEP_2.TITLE' | transloco }}</ng-template>
            <p class="my-6 font-medium">{{ 'APP.GENERAL.ADDRESS.ADDRESSES' | transloco }}</p>
            <div class="grid grid-cols-2 flex flex-col gt-xs:flex-row">
              <mat-form-field class="flex-auto gt-xs:pl-3 mx-4">
                <mat-label>{{ 'APP.GENERAL.ADDRESS.STREET' | transloco }}</mat-label>
                <input matInput [formControlName]="'facebook'" placeholder="{{ 'APP.GENERAL.ADDRESS.STREET' | transloco }}" />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
              </mat-form-field>
              <mat-form-field class="flex-auto gt-xs:pl-3 mx-4">
                <mat-label>{{ 'APP.GENERAL.ADDRESS.APPARTMENT' | transloco }}</mat-label>
                <input matInput [formControlName]="'twitter'" placeholder="{{ 'APP.GENERAL.ADDRESS.APPARTMENT' | transloco }}" />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
              </mat-form-field>
              <mat-form-field class="flex-auto gt-xs:pl-3 mx-4">
                <mat-label>{{ 'APP.GENERAL.ADDRESS.PROVINCE' | transloco }}</mat-label>
                <input matInput [formControlName]="'other'" placeholder="{{ 'APP.GENERAL.ADDRESS.PROVINCE' | transloco }}" />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
              </mat-form-field>
              <mat-form-field class="flex-auto gt-xs:pl-3 mx-4">
                <mat-label>{{ 'APP.GENERAL.ADDRESS.CITY' | transloco }}</mat-label>
                <input matInput [formControlName]="'twitter'" placeholder="{{ 'APP.GENERAL.ADDRESS.CITY' | transloco }}" />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
              </mat-form-field>
              <mat-form-field class="flex-auto gt-xs:pl-3 mx-4">
                <mat-label>{{ 'APP.GENERAL.ADDRESS.POSTAL_CODE' | transloco }}</mat-label>
                <input matInput [formControlName]="'linkedin'" placeholder="{{ 'APP.GENERAL.ADDRESS.POSTAL_CODE' | transloco }}" />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
              </mat-form-field>
              <mat-form-field class="fuse-mat-no-subscript flex-auto gt-xs:pl-3 mx-4">
                <mat-label>{{ 'APP.GENERAL.ADDRESS.COUNTRY' | transloco }}</mat-label>
                <mat-select class="mr-1.5" matPrefix [formControl]="this.addresses.controls['country']">
                  <mat-select-trigger>
                    <span class="flex items-center">
                      <span
                        class="hidden sm:flex w-6 h-4 mr-1 overflow-hidden"
                        [style.background]="'url(\'/assets/images/flags.png\') no-repeat 0 0'"
                        [style.backgroundSize]="'24px 3876px'"
                        [style.backgroundPosition]="getCountryByName(this.addresses.controls['country'].value).flagImagePos"
                      ></span>
                      <span class="sm:mx-0.5 font-medium text-default">
                        {{ getCountryByName(this.addresses.controls['country'].value).name }}
                      </span>
                    </span>
                  </mat-select-trigger>
                  <ng-container *ngFor="let country of countries">
                    <mat-option [value]="country.name">
                      <span class="flex items-center">
                        <span
                          class="w-6 h-4 overflow-hidden"
                          [style.background]="'url(\'/assets/images/flags.png\') no-repeat 0 0'"
                          [style.backgroundSize]="'24px 3876px'"
                          [style.backgroundPosition]="country.flagImagePos"
                        ></span>
                        <span class="ml-2">{{ country.name }}</span>
                      </span>
                    </mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
            </div>
            <hr class="w-full border-t my-4" />
            <p class="my-6 font-medium">Adresse de l'organisation:</p>
            <div class="grid grid-cols-4 flex flex-col gt-xs:flex-row">
              <mat-form-field class="flex-auto gt-xs:pl-3 mx-4">
                <input matInput [formControlName]="'apartNumber'" [placeholder]="'#Appart'" />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:chip'"></mat-icon>
              </mat-form-field>
              <mat-form-field class="flex-auto gt-xs:pr-3 mx-4">
                <input matInput [formControlName]="'streetNumber'" [placeholder]="'#Rue'" />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:chip'"></mat-icon>
              </mat-form-field>
              <mat-form-field class="flex-auto col-span-2 gt-xs:pl-3 mx-4">
                <input matInput [formControlName]="'street'" [placeholder]="'Rue'" required />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
              </mat-form-field>
            </div>
            <div class="grid grid-cols-4 flex flex-col gt-xs:flex-row">
              <mat-form-field class="flex-auto gt-xs:pr-3 mx-4">
                <mat-select [formControlName]="'country'" [placeholder]="'Country'" required>
                  <mat-option value="country-1">Canada</mat-option>
                  <mat-option value="country-2">USA</mat-option>
                  <mat-option value="country-3">Country 3</mat-option>
                  <mat-option value="country-3">Country 3</mat-option>
                  <mat-option value="country-3">Country 3</mat-option>
                  <mat-option value="country-3">Country 3</mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
              </mat-form-field>
              <mat-form-field class="flex-auto gt-xs:pl-3 mx-4">
                <input matInput [formControlName]="'province'" [placeholder]="'Province / Region'" required />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
              </mat-form-field>
              <mat-form-field class="col-span-2 flex-auto gt-xs:pl-3 mx-4">
                <input matInput [formControlName]="'postalCode'" [placeholder]="'Code postal'" />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
              </mat-form-field>
            </div>
            <div class="grid grid-cols-2 flex flex-col gt-xs:flex-row">
              <mat-form-field class="flex-auto gt-xs:pl-3 mx-4">
                <input matInput [formControlName]="'department'" [placeholder]="'Département'" />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:office-building'"></mat-icon>
              </mat-form-field>
              <mat-form-field class="flex-auto gt-xs:pl-3 mx-4">
                <input matInput [formControlName]="'sector'" [placeholder]="'Secteur / Domaine'" />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:office-building'"></mat-icon>
              </mat-form-field>
            </div>
            <hr class="w-full border-t my-4" />
            <p class="my-6 font-medium">Réseaux sociaux:</p>
            <div class="grid grid-cols-2 flex flex-col gt-xs:flex-row">
              <mat-form-field class="flex-auto gt-xs:pl-3 mx-4">
                <input matInput [formControlName]="'facebook'" [placeholder]="'Facebook'" />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
              </mat-form-field>
              <mat-form-field class="flex-auto gt-xs:pl-3 mx-4">
                <input matInput [formControlName]="'linkedin'" [placeholder]="'Linkedin'" />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
              </mat-form-field>
              <mat-form-field class="flex-auto gt-xs:pl-3 mx-4">
                <input matInput [formControlName]="'twitter'" [placeholder]="'Twitter'" />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
              </mat-form-field>
              <mat-form-field class="flex-auto gt-xs:pl-3 mx-4">
                <input matInput [formControlName]="'other'" [placeholder]="'Autre'" />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
              </mat-form-field>
            </div>
            <div class="flex justify-end">
              <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button" matStepperPrevious>Back</button>
              <button
                class="px-8"
                mat-flat-button
                [color]="'primary'"
                [disabled]="horizontalStepperStep2.stepControl.pristine || horizontalStepperStep2.stepControl.invalid"
                type="button"
                matStepperNext
              >
                Next
              </button>
            </div>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <div>
              <mat-icon class="icon-size-8" matPrefix [svgIcon]="'heroicons_solid:check'" style="color: green"></mat-icon>
            </div>
            <p class="my-6 font-medium">
              <span>Merci d'avoir rempli les informations de votre Organization !.</span>
            </p>
            <p class="my-6 font-medium">
              Vous pouvez maintenant gérer votre Organization et créer vos ressources et bien plein d'autres fonctionnalités intéressantes.
            </p>
            <p class="my-6 font-medium">Vous pouvez cliquer sur réinitialiser si vous souhaitez creer une autre organization.</p>
            <div class="flex justify-end mt-8">
              <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button" matStepperPrevious>Back</button>
              <button class="px-8" mat-flat-button [color]="'primary'" type="reset" (click)="emitOnFormComplete()">Done</button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </form>
    </div>
  </div>
</div>
