<!-- eslint-disable  -->
<div *ngIf="user" class="inset-0 pt-8 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>
  <div class="flex flex-auto mt-2">
    <div class="flex flex-col flex-auto w-full max-w-lg sm:max-w-7xl mx-auto">
      <form class="p-4 mt-2 bg-card shadow rounded overflow-hidden" [formGroup]="form">
        <p class="my-6 font-medium"></p>
        <div class="grid grid-cols-2 flex flex-col gt-xs:flex-row">
          <mat-form-field class="flex-auto gt-xs:pr-3 mx-4">
            <mat-label>{{ 'APP.ROUTES.USER.ABOUT.FIRST_NAME' | transloco }}</mat-label>
            <input matInput [formControlName]="'firstname'" [placeholder]="'APP.ROUTES.USER.ABOUT.FIRST_NAME' | transloco" required />
            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:office-building'"></mat-icon>
          </mat-form-field>
        </div>
        <div class="grid grid-cols-2 flex flex-col gt-xs:flex-row">
          <mat-form-field class="flex-auto gt-xs:pl-3 mx-4">
            <mat-label>{{ 'APP.ROUTES.USER.ABOUT.LAST_NAME' | transloco }}</mat-label>
            <input matInput [formControlName]="'lastname'" [placeholder]="'APP.ROUTES.USER.ABOUT.LAST_NAME' | transloco" />
            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:newspaper'"></mat-icon>
          </mat-form-field>
        </div>
        <div class="grid grid-cols-2 flex flex-col gt-xs:flex-row">
          <mat-form-field class="flex-auto mx-4">
            <mat-label>{{ 'APP.ROUTES.USER.ABOUT.BIRTH_DATE' | transloco }}</mat-label>
            <input
              matInput
              [matDatepicker]="dateOfBirthDatePicker"
              [formControlName]="'dateofbirth'"
              [placeholder]="'APP.ROUTES.USER.ABOUT.BIRTH_DATE' | transloco"
              [matDatepickerFilter]="dateFilter"
              required />
            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:cake'"></mat-icon>
            <mat-datepicker-toggle matSuffix [for]="dateOfBirthDatePicker"> </mat-datepicker-toggle>
            <mat-datepicker #dateOfBirthDatePicker startView="multi-year"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="grid grid-cols-2 flex flex-col gt-xs:flex-row">
          <mat-form-field class="flex-auto mx-4">
            <mat-label>{{ 'APP.ROUTES.USER.ABOUT.EMAIL' | transloco }}</mat-label>
            <input matInput [formControlName]="'email'" [placeholder]="'APP.ROUTES.USER.ABOUT.EMAIL' | transloco" required />
            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:mail'"></mat-icon>
          </mat-form-field>
        </div>

        <div class="grid grid-cols-4 flex flex-col gt-xs:flex-row">
          <mat-form-field class="flex-auto gt-xs:pr-3 mx-4">
            <mat-label>{{ 'APP.GENERAL.PHONE.PHONE_NUMBER' | transloco }}</mat-label>
            <input matInput formControlName="phoneNumber" [placeholder]="'APP.GENERAL.PHONE' | transloco" />
            <mat-select class="mr-1.5" formControlName="phoneCode" matPrefix>
              <mat-select-trigger>
                <span class="flex items-center">
                  <span
                    class="hidden sm:flex w-6 h-4 mr-1 overflow-hidden"
                    [style.background]="'url(\'/assets/images/flags/flags.png\') no-repeat 0 0'"
                    [style.backgroundSize]="'24px 3876px'"
                    [style.backgroundPosition]="getCountryByIso().flagImagePos"></span>
                  <span class="sm:mx-0.5 font-medium text-default">{{ getCountryByIso().code }}</span>
                </span>
              </mat-select-trigger>
              <ng-container *ngFor="let country of countries; trackBy: trackByFn">
                <mat-option [value]="country.iso">
                  <span class="flex items-center">
                    <span
                      class="w-6 h-4 overflow-hidden"
                      [style.background]="'url(\'/assets/images/flags/flags.png\') no-repeat 0 0'"
                      [style.backgroundSize]="'24px 3876px'"
                      [style.backgroundPosition]="country.flagImagePos"></span>
                    <span class="ml-2">{{ country.name }}</span>
                    <span class="ml-2 font-medium">{{ country.code }}</span>
                  </span>
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
          <!-- Label -->
          <mat-form-field class="flex-auto gt-xs:pr-3 mx-4">
            <mat-label>{{ 'ORGANIZATION.FORM.STEP1.PHONE_LABEL' | transloco }}</mat-label>
            <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:tag'"></mat-icon>
            <input matInput formControlName="phoneLabel" [placeholder]="'ORGANIZATION.FORM.STEP1.PHONE_LABEL' | transloco" />
          </mat-form-field>
        </div>

        <div class="grid grid-cols-4 flex flex-col gt-xs:flex-row">
          <!-- <mat-form-field class="flex-auto gt-xs:pr-3 mx-4"> -->
          <p class="text-l pl-4 mb-4">{{ 'APP.GENERAL.ADDRESS.ADDRESSES' | transloco }}</p>
          <!-- </mat-form-field> -->
        </div>
        <div class="grid grid-cols-4 flex flex-col gt-xs:flex-row">
          <mat-form-field class="flex-auto gt-xs:pl-3 mx-4">
            <mat-label>{{ 'ORGANIZATION.FORM.STEP2.APARTMENT' | transloco }}</mat-label>
            <input matInput [formControlName]="'apartment'" placeholder="#{{ 'ORGANIZATION.FORM.STEP2.APARTMENT' | transloco }}" />
            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
          </mat-form-field>
          <mat-form-field class="flex-auto gt-xs:pl-3 mx-4">
            <mat-label>{{ 'ORGANIZATION.FORM.STEP2.STREET' | transloco }}</mat-label>
            <input matInput [formControlName]="'street'" placeholder="{{ 'ORGANIZATION.FORM.STEP2.STREET' | transloco }}" required />
            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
          </mat-form-field>
          <mat-form-field class="flex-auto gt-xs:pr-3 mx-4">
            <mat-label>{{ 'ORGANIZATION.FORM.STEP2.CITY' | transloco }}</mat-label>
            <input matInput [formControlName]="'city'" placeholder="{{ 'ORGANIZATION.FORM.STEP2.CITY' | transloco }}" />
            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
          </mat-form-field>
        </div>
        <div class="grid grid-cols-4 flex flex-col gt-xs:flex-row mt-3">
          <mat-form-field class="flex-auto gt-xs:pr-3 mx-4">
            <mat-label>{{ 'ORGANIZATION.FORM.STEP2.COUNTRY' | transloco }}</mat-label>
            <mat-select [formControlName]="'country'" placeholder="{{ 'ORGANIZATION.FORM.STEP2.COUNTRY' | transloco }}" required>
              <mat-option value="" disabled selected>{{ 'ORGANIZATION.FORM.STEP2.SELECT_COUNTRY' | transloco }}</mat-option>
              <mat-option *ngFor="let country of countries" [value]="country.name">{{ country.name }}</mat-option>
            </mat-select>
            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
          </mat-form-field>
          <mat-form-field class="flex-auto gt-xs:pl-3 mx-4">
            <mat-label>{{ 'ORGANIZATION.FORM.STEP2.PROVINCE' | transloco }}</mat-label>
            <input matInput [formControlName]="'province'" placeholder="{{ 'ORGANIZATION.FORM.STEP2.PROVINCE' | transloco }}" required />
            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
          </mat-form-field>
          <mat-form-field class="flex-auto gt-xs:pl-3 mx-4">
            <mat-label>{{ 'ORGANIZATION.FORM.STEP2.POSTAL_CODE' | transloco }}</mat-label>
            <input matInput [formControlName]="'code'" placeholder="{{ 'ORGANIZATION.FORM.STEP2.POSTAL_CODE' | transloco }}" />
            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
          </mat-form-field>
        </div>

        <div class="flex justify-end mt-8">
          <button class="px-8" mat-flat-button [color]="'primary'" type="reset" (click)="emitOnFormComplete()">
            {{ 'APP.ROUTES.USER.ABOUT.SAVE' | transloco }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
