<!-- eslint-disable  -->
<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>
  <!-- Header -->
  <div class="relative flex-0 py-8 px-4 sm:p-8 overflow-hidden">
    <div class="flex flex-col sm:flex-row items-center justify-between w-full max-w-xs sm:max-w-none">
      <button class="fuse-mat-button-rounded sm:ml-16" mat-flat-button [color]="'primary'" routerLink="{{ ['../'] }}">
        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:arrow-circle-left'"></mat-icon>
        <span class="ml-2">Back</span>
      </button>
      <div class="font-semibold"><b>Creation d'entreprise</b></div>
      <div></div>
    </div>
  </div>

  <div class="flex flex-auto mt-2">
    <div class="flex flex-col flex-auto w-full max-w-lg sm:max-w-7xl mx-auto">
      <form class="p-4 mt-2 bg-card shadow rounded overflow-hidden" [formGroup]="stepperForm">
        <mat-horizontal-stepper [linear]="false" #horizontalStepper>
          <mat-step [formGroupName]="'step1'" [stepControl]="stepperForm.get('step1')" #horizontalStepperStep1>
            <ng-template matStepLabel>Informations générales</ng-template>
            <p class="my-6 font-medium">Remplissez vos informations de base pour votre organization</p>
            <div class="flex flex-col gt-xs:flex-row">
              <div
                class="sm:grid sm:grid-cols-3 mx-4 flex items-center pt-4 px-8 border-solid border-inherit border rounded-lg min-h-22"
              >
                <mat-checkbox
                  class="mb-4"
                  [formControlName]="'isSubOrganization'"
                  (change)="isSubOrganization = !isSubOrganization"
                  [color]="'primary'"
                >
                  Définir comme sous-organisation:
                </mat-checkbox>
                <mat-form-field *ngIf="isSubOrganization" class="flex-auto gt-xs:pl-3 mx-4">
                  <mat-select
                    [formControlName]="'subOrganization'"
                    [placeholder]="'Choose parent organization'"
                    required
                  >
                    <mat-option value="language-1">Organization 01</mat-option>
                    <mat-option value="language-2">Organization 02</mat-option>
                    <mat-option value="language-3">Organization 03</mat-option>
                  </mat-select>
                  <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:office-building'"></mat-icon>
                </mat-form-field>
              </div>
              <mat-form-field class="flex-auto gt-xs:pl-3 mx-4 mt-4">
                <mat-select [formControlName]="'dealingType'" [placeholder]="'Organization Interne/Externe'" required>
                  <mat-option value="language-1">Seulement a l Interne/Externe</mat-option>
                  <mat-option value="language-1">Seulement a l Externe</mat-option>
                  <mat-option value="language-1">Interne & Externe</mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:office-building'"></mat-icon>
              </mat-form-field>
            </div>
            <hr class="w-full border-t my-4" />
            <div class="grid grid-cols-2 flex flex-col gt-xs:flex-row">
              <mat-form-field class="flex-auto gt-xs:pr-3 mx-4">
                <input matInput [formControlName]="'name'" [placeholder]="'Nom de l organization'" required />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:office-building'"></mat-icon>
              </mat-form-field>
              <mat-form-field class="flex-auto gt-xs:pl-3 mx-4">
                <input matInput [formControlName]="'organizationNumber'" [placeholder]="'Numéro d entregistrement'" />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:newspaper'"></mat-icon>
              </mat-form-field>
            </div>
            <div class="grid grid-cols-2 flex flex-col gt-xs:flex-row">
              <mat-form-field class="flex-auto mx-4">
                <input matInput [formControlName]="'email'" [placeholder]="'Email Address'" required />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:mail'"></mat-icon>
              </mat-form-field>
              <mat-form-field class="flex-auto gt-xs:pl-3 mx-4">
                <mat-select [formControlName]="'organizationType'" [placeholder]="'Choose organization type'" required>
                  <mat-option value="language-1">Entreprise individuelle.</mat-option>
                  <mat-option value="language-2">Société par actions (compagnie)</mat-option>
                  <mat-option value="language-2">Société en nom collectif (S.E.N.C.)</mat-option>
                  <mat-option value="language-2">Société en commandite (S.E.C.)</mat-option>
                  <mat-option value="language-2">Société en participation</mat-option>
                  <mat-option value="language-2">Personne morale sans but lucratif</mat-option>
                  <mat-option value="language-2">Syndicat de copropriété</mat-option>
                  <mat-option value="language-2">Association</mat-option>
                  <mat-option value="language-2">autre</mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:library'"></mat-icon>
              </mat-form-field>
            </div>
            <div class="grid grid-cols-2 flex flex-col gt-xs:flex-row">
              <mat-form-field class="flex-auto gt-xs:pr-3 mx-4">
                <input matInput [formControlName]="'phoneNumber'" [placeholder]="'Numéro téléphone'" />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:office-building'"></mat-icon>
              </mat-form-field>
              <mat-form-field class="flex-auto gt-xs:pl-3 mx-4" appearance="fill">
                <mat-chip-list #organizationLabelsChipList aria-label="Etiquette selection">
                  <ng-container *ngFor="let organizationLabel of organizationLabels">
                    <mat-chip
                      (removed)="removeItemMatChip(organizationLabels, organizationLabel)"
                      color="primary"
                      selected
                    >
                      {{ organizationLabel.value }}
                      <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </mat-chip>
                  </ng-container>
                  <input
                    placeholder="Étiquettes..."
                    [matChipInputFor]="organizationLabelsChipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="true"
                    (matChipInputTokenEnd)="addItemMatChip(organizationLabels, $event)"
                  />
                </mat-chip-list>
              </mat-form-field>
            </div>
            <div class="flex">
              <mat-form-field class="fuse-mat-textarea flex-auto mx-4">
                <textarea matInput [formControlName]="'description'" [placeholder]="'About'" [rows]="3"></textarea>
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:menu-alt-2'"></mat-icon>
              </mat-form-field>
            </div>
            <div class="flex justify-end">
              <button
                class="px-8"
                mat-flat-button
                [color]="'primary'"
                [disabled]="horizontalStepperStep1.stepControl.pristine || horizontalStepperStep1.stepControl.invalid"
                type="button"
                matStepperNext
              >
                Next
              </button>
            </div>
          </mat-step>

          <mat-step [formGroupName]="'step2'" [stepControl]="stepperForm.get('step2')" #horizontalStepperStep2>
            <ng-template matStepLabel>Adresse et Réseaux sociaux</ng-template>
            <p class="my-6 font-medium">Adresse de l'organisation:</p>
            <div class="grid grid-cols-4 flex flex-col gt-xs:flex-row">
              <mat-form-field class="flex-auto gt-xs:pl-3 mx-4">
                <input matInput [formControlName]="'apartNumber'" [placeholder]="'#Appart'" />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:chip'"></mat-icon>
              </mat-form-field>
              <mat-form-field class="flex-auto gt-xs:pr-3 mx-4">
                <input matInput [formControlName]="'streetNumber'" [placeholder]="'#Rue'" />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:chip'"></mat-icon>
              </mat-form-field>
              <mat-form-field class="flex-auto col-span-2 gt-xs:pl-3 mx-4">
                <input matInput [formControlName]="'street'" [placeholder]="'Rue'" required />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
              </mat-form-field>
            </div>
            <div class="grid grid-cols-4 flex flex-col gt-xs:flex-row">
              <mat-form-field class="flex-auto gt-xs:pr-3 mx-4">
                <mat-select [formControlName]="'country'" [placeholder]="'Country'" required>
                  <mat-option value="country-1">Canada</mat-option>
                  <mat-option value="country-2">USA</mat-option>
                  <mat-option value="country-3">Country 3</mat-option>
                  <mat-option value="country-3">Country 3</mat-option>
                  <mat-option value="country-3">Country 3</mat-option>
                  <mat-option value="country-3">Country 3</mat-option>
                </mat-select>
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
              </mat-form-field>
              <mat-form-field class="flex-auto gt-xs:pl-3 mx-4">
                <input matInput [formControlName]="'province'" [placeholder]="'Province / Region'" required />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
              </mat-form-field>
              <mat-form-field class="col-span-2 flex-auto gt-xs:pl-3 mx-4">
                <input matInput [formControlName]="'postalCode'" [placeholder]="'Code postal'" />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
              </mat-form-field>
            </div>
            <div class="grid grid-cols-2 flex flex-col gt-xs:flex-row">
              <mat-form-field class="flex-auto gt-xs:pl-3 mx-4">
                <input matInput [formControlName]="'department'" [placeholder]="'Département'" />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:office-building'"></mat-icon>
              </mat-form-field>
              <mat-form-field class="flex-auto gt-xs:pl-3 mx-4">
                <input matInput [formControlName]="'sector'" [placeholder]="'Secteur / Domaine'" />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:office-building'"></mat-icon>
              </mat-form-field>
            </div>
            <hr class="w-full border-t my-4" />
            <p class="my-6 font-medium">Réseaux sociaux:</p>
            <div class="grid grid-cols-2 flex flex-col gt-xs:flex-row">
              <mat-form-field class="flex-auto gt-xs:pl-3 mx-4">
                <input matInput [formControlName]="'facebook'" [placeholder]="'Facebook'" />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
              </mat-form-field>
              <mat-form-field class="flex-auto gt-xs:pl-3 mx-4">
                <input matInput [formControlName]="'linkedin'" [placeholder]="'Linkedin'" />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
              </mat-form-field>
              <mat-form-field class="flex-auto gt-xs:pl-3 mx-4">
                <input matInput [formControlName]="'twitter'" [placeholder]="'Twitter'" />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
              </mat-form-field>
              <mat-form-field class="flex-auto gt-xs:pl-3 mx-4">
                <input matInput [formControlName]="'other'" [placeholder]="'Autre'" />
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
              </mat-form-field>
            </div>
            <div class="flex justify-end">
              <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button" matStepperPrevious>
                Back
              </button>
              <button
                class="px-8"
                mat-flat-button
                [color]="'primary'"
                [disabled]="horizontalStepperStep2.stepControl.pristine || horizontalStepperStep2.stepControl.invalid"
                type="button"
                matStepperNext
              >
                Next
              </button>
            </div>
          </mat-step>

          <mat-step [formGroupName]="'step3'" [stepControl]="stepperForm.get('step3')">
            <ng-template matStepLabel>Admins & Utilisateurs</ng-template>
            <p class="my-6 font-medium">Inviter les administrateurs pour cette organization.</p>
            <div class="grid grid-cols-2 flex flex-col gt-xs:flex-row">
              <mat-form-field class="flex-auto gt-xs:pl-3 mx-4" appearance="fill">
                <mat-chip-list #adminEmailsChipList formArrayName="adminsEmails" aria-label="Etiquette selection">
                  <ng-container *ngFor="let adminEmail of adminsEmailListLabels">
                    <mat-chip
                      class="py-2 mt-2"
                      (removed)="removeItemMatChip(adminsEmailListLabels, adminEmail)"
                      [color]="adminEmail.invalid ? 'warn' : 'secondary'"
                      selected
                    >
                      {{ adminEmail.value }}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                  </ng-container>
                  <input
                    matInput
                    placeholder="Enter admin email..."
                    [matChipInputFor]="adminEmailsChipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="true"
                    (matChipInputTokenEnd)="addItemMatChip(adminsEmailListLabels, $event, true)"
                  />
                </mat-chip-list>
              </mat-form-field>
              <div class="text-gray-700 text-opacity-60">
                <p>Séparer avec avec des commas ou cliquez sur ENTER</p>
                <p>Exemple: exemple@exemple.com</p>
                <p>Exemple: exemple01@exemple.com,exemple02@exemple.com</p>
              </div>
            </div>
            <hr class="w-full border-t my-4" />
            <p class="my-6 font-medium">Inviter les utilisateurs pour cette organization.</p>
            <div class="grid grid-cols-2 flex flex-col gt-xs:flex-row">
              <mat-form-field class="flex-auto gt-xs:pl-3 mx-4" appearance="fill">
                <mat-chip-list #usersEmailLChipList formArrayName="usersEmails" aria-label="Etiquette selection">
                  <ng-container *ngFor="let userEmail of usersEmailListLabels">
                    <mat-chip
                      class="py-2 mt-2"
                      (removed)="removeItemMatChip(usersEmailListLabels, userEmail)"
                      [color]="userEmail.invalid ? 'warn' : 'secondary'"
                      selected
                    >
                      {{ userEmail.value }}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                  </ng-container>
                  <input
                    matInput
                    placeholder="Enter admin email..."
                    [matChipInputFor]="usersEmailLChipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="true"
                    (matChipInputTokenEnd)="addItemMatChip(usersEmailListLabels, $event, true)"
                  />
                </mat-chip-list>
              </mat-form-field>
              <div class="text-gray-700 text-opacity-60">
                <p>Séparer avec avec des commas ou cliquez sur ENTER</p>
                <p>Exemple: exemple@exemple.com</p>
                <p>Exemple: exemple01@exemple.com,exemple02@exemple.com</p>
              </div>
            </div>
            <div class="flex justify-end mt-8">
              <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button" matStepperPrevious>
                Back
              </button>
              <button class="px-8" mat-flat-button [color]="'primary'" type="button" matStepperNext>Next</button>
            </div>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <div>
              <mat-icon
                class="icon-size-8"
                matPrefix
                [svgIcon]="'heroicons_solid:check'"
                style="color: green"
              ></mat-icon>
            </div>
            <p class="my-6 font-medium">
              <span>Merci d'avoir rempli les informations de votre Organization !.</span>
            </p>
            <p class="my-6 font-medium">
              Vous pouvez maintenant gérer votre Organization et créer vos ressources et bien plein d'autres
              fonctionnalités intéressantes.
            </p>
            <p class="my-6 font-medium">
              Vous pouvez cliquer sur réinitialiser si vous souhaitez creer une autre organization.
            </p>
            <div class="flex justify-end mt-8">
              <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button" matStepperPrevious>
                Back
              </button>
              <button class="px-8" mat-flat-button [color]="'primary'" type="reset" (click)="horizontalStepper.reset()">
                Done
              </button>
              <button class="px-8" mat-flat-button [color]="'primary'" type="reset" routerLink="{{ ['../'] }}">
                Create new
              </button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </form>
    </div>
  </div>
</div>
