<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">
  <!-- Header -->
  <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
    <div class="text-lg font-medium">Invite New Members To Your Organization</div>
  </div>

  <!-- Member form -->
  <form class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto" [formGroup]="memberForm">
    <!-- Email -->
    <mat-form-field class="flex-auto mx-4">
      <mat-label>Email</mat-label>
      <input matInput [formControlName]="'email'" placeholder="{{ 'ORGANIZATION.FORM.STEP1.EMAIL' | transloco }}" required />
      <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:mail'"></mat-icon>
    </mat-form-field>
    <!-- Role -->
    <mat-form-field class="flex-auto mx-4">
      <input matInput [formControlName]="'role'" placeholder="{{ 'ORGANIZATION.FORM.STEP1.ROLE' | transloco }}" />
      <mat-label>Role</mat-label>
      <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:academic-cap'"></mat-icon>
      <input matInput [formControlName]="'Role'" />
    </mat-form-field>
    <hr class="w-full border-t my-4" />
    <div class="flex items-center justify-between">
      <div class="flex-auto leading-6 cursor-pointer">Personalize Invitation</div>
      <mat-slide-toggle class="ml-2" [formControlName]="'isInvitationPersonalize'" (change)="isInvitationPersonalize = !isInvitationPersonalize" [color]="'primary'">
      </mat-slide-toggle>
    </div>

    <mat-form-field *ngIf="isInvitationPersonalize" class="flex-auto mx-4">
      <textarea matInput [formControlName]="'description'" [rows]="3"></textarea>
      <!-- Body -->
      <quill-editor class="mt-2" [formControlName]="'body'" [modules]="quillModules"></quill-editor>
      <!-- <input matInput [formControlName]="'email'" placeholder="{{ 'ORGANIZATION.FORM.STEP1.EMAIL' | transloco }}" required /> -->
    </mat-form-field>

    <div class="flex items-center justify-end -mx-8 mt-8 px-8 py-2">
      <button mat-button>Cancel</button>
      <button class="px-6 ml-3" mat-flat-button [color]="'primary'">Save</button>
    </div>

    <!-- Actions -->
    <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">
      <div class="-ml-2"></div>

      <div class="flex items-center mt-4 sm:mt-0"></div>
    </div>
  </form>
</div>
