<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">
  <!-- Header -->
  <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8">
    <div class="text-lg font-extrabold tracking-tight leading-none">{{ 'ORGANIZATION.MEMBERS.FORM.TITLE' | transloco }}</div>
  </div>
  <hr class="w-full border-t my-2" />
  <!-- Body -->
  <form class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto" [formGroup]="memberForm">
    <mat-form-field class="flex-auto mx-4">
      <mat-label>{{ 'ORGANIZATION.MEMBERS.FORM.MEMBER_EMAIL' | transloco }}</mat-label>
      <input matInput [formControlName]="'email'" placeholder="{{ 'ORGANIZATION.MEMBERS.FORM.MEMBER_EMAIL' | transloco }}" required />
      <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:mail'"></mat-icon>
    </mat-form-field>

    <hr class="w-full border-t my-4" />
    <div class="flex items-center justify-between">
      <div class="flex-auto leading-6 cursor-pointer">{{ 'ORGANIZATION.MEMBERS.FORM.PERSONALIZE_INVITATION' | transloco }}</div>
      <mat-slide-toggle [(ngModel)]="isInvitationPersonalize" [ngModelOptions]="{ standalone: true }" [color]="'primary'"> </mat-slide-toggle>
    </div>
    <mat-form-field *ngIf="isInvitationPersonalize" class="flex-auto mx-4">
      <textarea
        matInput
        [formControlName]="'description'"
        placeholder="{{ 'ORGANIZATION.MEMBERS.FORM.DESCRIPTION' | transloco }}"
        [rows]="3"></textarea>
    </mat-form-field>
    <!-- Actions -->
    <div class="flex items-center justify-end -mx-8 mt-8 px-8 py-2">
      <button mat-button mat-dialog-close>{{ 'ORGANIZATION.MEMBERS.FORM.CANCEL' | transloco }}</button>
      <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="invite()">
        {{ 'ORGANIZATION.MEMBERS.FORM.SAVE' | transloco }}
      </button>
    </div>
    <!-- Footer -->
    <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">
      <div class="-ml-2"></div>
      <div class="flex items-center mt-4 sm:mt-0"></div>
    </div>
  </form>
</div>
