<div class="w-full max-w-3xl">
  <div class="w-full mb-5">
    <div class="text-xl">{{ 'Visibility Options' | transloco }}</div>
    <div class="text-secondary">Following information is publicly displayed, be careful!</div>
  </div>

  <!-- Form -->
  <form [formGroup]="form">
    <div class="my-2">
      <div class="sm:col-span-4">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>{{ 'Reservation Details Visibility to Non-moderators' | transloco }}</mat-label>
          <mat-select [formControlName]="'reservationDetailsVisibilityToNonModerators'">
            <mat-option [value]="'timeslotNDuser'">Reservation Timeslot and User Only</mat-option>
            <mat-option [value]="'timeslot'">Reservation Timeslot Only</mat-option>
            <mat-option [value]="'all'">{{'All Reservation Details'| transloco}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- Divider -->
    <div class="mt-11 mb-10 border-t"></div>

    <!-- Actions -->
    <div class="flex items-center justify-end">
      <button class="ml-4" mat-flat-button type="button" [color]="'primary'" (click)="onSubmit()">{{ 'Save' | transloco }}</button>
    </div>
  </form>
</div>
