<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
  <!-- Header -->
  <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8">
    <!-- Loader -->
    <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
      <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    <!-- Title -->
    <div>
      <div class="flex items-center justify-between w-full">
        <div class="text-4xl font-extrabold tracking-tight leading-none">{{ 'ORGANIZATION.MEMBERS.TITLE' | transloco }}</div>
        <div class="sm:hidden mt-6 sm:mt-0 sm:ml-4">
          <button class="ml-4" mat-flat-button [color]="'primary'" (click)="openInviteMemberDialog()">
            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            <span class="ml-0.5 mr-0.5">{{ 'ORGANIZATION.MEMBERS.INVITE_MEMBERS_MOBILE' | transloco }}</span>
          </button>
        </div>
      </div>

      <div>
        <div class="ml-0.5 font-medium text-secondary">
          <ng-container *ngIf="membersCount > 0">
            {{ membersCount }}
          </ng-container>
          {{
            membersCount
              | i18nPlural
                : {
                    '=0': 'No members',
                    '=1': 'members',
                    other: 'members'
                  }
          }}
        </div>
      </div>
      <div class="mt-8 text-md font-medium text-secondary text-center">
        <span>{{ 'ORGANIZATION.MEMBERS.MESSAGE' | transloco }}</span>
        <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['/sign-in']">Organization settings </a>
      </div>
    </div>
    <!-- Actions -->
    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
      <button class="hidden sm:inline-flex ml-4" mat-flat-button [color]="'primary'" (click)="openInviteMemberDialog()">
        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
        <span class="ml-2 mr-1">{{ 'ORGANIZATION.MEMBERS.INVITE_MEMBERS' | transloco }}</span>
      </button>
    </div>
  </div>
  <div class="flex items-center">
    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
      <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
      <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search Members'" />
    </mat-form-field>

    <button class="hidden sm:inline-flex ml-4" mat-flat-button [color]="'primary'" routerLinkActive="active" [routerLink]="['']">
      <mat-icon [svgIcon]="'heroicons_outline:filter'"></mat-icon>
      <span class="ml-2 mr-1">{{ 'ORGANIZATION.MEMBERS.FILTER_MEMBERS' | transloco }}</span>
    </button>
    <button class="hidden sm:inline-flex ml-4" mat-flat-button [color]="'primary'" routerLinkActive="active" [routerLink]="['']">
      <mat-icon [svgIcon]="'heroicons_outline:upload'"></mat-icon>
      <span class="ml-2 mr-1">{{ 'ORGANIZATION.MEMBERS.IMPORT_MEMBERS' | transloco }}</span>
    </button>
    <button class="hidden sm:inline-flex ml-4" mat-flat-button [color]="'primary'" routerLinkActive="active" [routerLink]="['']">
      <mat-icon [svgIcon]="'heroicons_outline:download'"></mat-icon>
      <span class="ml-2 mr-1">{{ 'ORGANIZATION.MEMBERS.EXPORT_MEMBERS' | transloco }}</span>
    </button>

    <!-- Actions menu (visible on xs)-->
    <div class="sm:hidden">
      <button [matMenuTriggerFor]="actionsMenu" mat-icon-button>
        <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
      </button>
      <mat-menu #actionsMenu="matMenu">
        <button mat-menu-item>
          <span class="ml-2 mr-1">{{ 'ORGANIZATION.MEMBERS.FILTER_MEMBERS' | transloco }}</span>
        </button>
        <button mat-menu-item>
          <span class="ml-2 mr-1">{{ 'ORGANIZATION.MEMBERS.IMPORT_MEMBERS' | transloco }}</span>
        </button>
        <button mat-menu-item>
          <span class="ml-2 mr-1">{{ 'ORGANIZATION.MEMBERS.EXPORT_MEMBERS' | transloco }}</span>
        </button>
      </mat-menu>
    </div>
  </div>

  <!-- Main -->
  <list-component [dataList]="members" [options]="options" [message]="'ORGANIZATION.MEMBERS.LIST.MESSAGE' | transloco"></list-component>
</div>
<router-outlet></router-outlet>
