<div class="w-full max-w-3xl">
  <!-- Form -->
  <form [formGroup]="form">
    <!-- Section -->
    <div class="w-full">
      <div class="text-xl">{{ 'ORGANIZATION.SETTINGS.RESOUCES.RESOURCE_UNITS_OPTIONS' | transloco }}</div>
    </div>
    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
      <div class="sm:col-span-4">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>{{ 'ORGANIZATION.SETTINGS.RESOUCES.RESOURCE_UNITS_OPTIONS' | transloco }}</mat-label>
          <input [formControlName]="'unites'" matInput />
        </mat-form-field>
      </div>

      <div class="sm:col-span-4">
        <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
          <mat-label>{{ 'ORGANIZATION.SETTINGS.RESOUCES.UNIT_NAME' | transloco }}</mat-label>
          <input [formControlName]="'unitName'" matInput />
        </mat-form-field>
      </div>

      <div class="sm:col-span-4">
        <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
          <mat-label>{{ 'ORGANIZATION.SETTINGS.RESOUCES.UNIT_LIMIT' | transloco }}</mat-label>
          <input [formControlName]="'unitLimit'" matInput />
        </mat-form-field>
        <div class="mt-1 text-md text-hint">
          {{ 'ORGANIZATION.SETTINGS.RESOUCES.UNIT_LIMIT_HINT' | transloco }}
        </div>
      </div>
    </div>

    <!-- Divider -->
    <div class="mt-11 mb-10 border-t"></div>

    <!-- Actions -->
    <div class="flex items-center justify-end">
      <button class="ml-4" mat-flat-button type="button" [color]="'primary'" (click)="onSubmit()">
        {{ 'APP.BTN.SUBMIT' | transloco }}
      </button>
    </div>
  </form>
</div>
