<div class="w-full max-w-3xl">
  <!-- Form -->
  <form [formGroup]="form">
    <!-- Section -->
    <div class="w-full">
      <div class="text-xl">{{ 'Resource Units Options' | transloco }}</div>
      <div class="text-secondary">Following information is publicly displayed, be careful!</div>
    </div>
    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
      <div class="sm:col-span-4">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>{{ 'Unites' | transloco }}</mat-label>
          <input [formControlName]="'unites'" matInput />
        </mat-form-field>
      </div>

      <div class="sm:col-span-4">
        <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
          <mat-label>{{ 'Unit Name' | transloco }}</mat-label>
          <input [formControlName]="'unitName'" matInput />
        </mat-form-field>
        <div class="mt-1 text-md text-hint">Brief description for your profile. Basic HTML and Emoji are allowed.</div>
      </div>

      <div class="sm:col-span-4">
        <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
          <mat-label>{{ 'Unit Limit' | transloco }}</mat-label>
          <input [formControlName]="'unitLimit'" matInput />
        </mat-form-field>
        <div class="mt-1 text-md text-hint">The maximum number of units that can be reserved in a single reservation. Leave blank for no limit.</div>
      </div>
    </div>

    <!-- Divider -->
    <div class="mt-11 mb-10 border-t"></div>

    <!-- Actions -->
    <div class="flex items-center justify-end">
      <button class="ml-4" mat-flat-button type="button" [color]="'primary'" (click)="onSubmit()">
        {{ 'Save' | transloco }}
      </button>
    </div>
  </form>
</div>
