<!-- Button -->
<button mat-icon-button [matMenuTriggerFor]="organizationsMatMenu">
  <ng-container *ngTemplateOutlet="organizationNameTemplate; context: { $implicit: activeOrganization }"></ng-container>
</button>

<!-- Language menu -->
<mat-menu [xPosition]="'before'" #organizationsMatMenu="matMenu">
  <ng-container *ngFor="let availableOrganization of availableOrganizations; trackBy: trackByFn">
    <button mat-menu-item (click)="setOctiveOrganization(organization.id)">
      <span class="flex items-center">
        <ng-container
          *ngTemplateOutlet="organizationNameTemplate; context: { $implicit: availableOrganization }"
        ></ng-container>
      </span>
    </button>
  </ng-container>
</mat-menu>

<!-- Flag image template -->
<ng-template let-organization #organizationNameTemplate>
  <span class="relative w-48 m-400 shadow rounded-sm overflow-hidden">
    <mat-icon [svgIcon]="'heroicons_outline:office-building'"></mat-icon>
    <span>{{ organization.name }}</span>
  </span>
</ng-template>
