<div class="w-full max-w-3xl">
  <!-- Form -->
  <form [formGroup]="form">
    <div class="w-full mb-5">
      <div class="text-3xl font-extrabold tracking-tight leading-none">
        {{ 'ORGANIZATION.SETTINGS.RESOUCES.VISIBILITY' | transloco }}
      </div>
    </div>

    <!-- Section -->
    <div class="w-full">
      <div class="flex sm:col-span-4 justify-between">
        <mat-label
          >{{ 'ORGANIZATION.SETTINGS.RESOUCES.VISIBILITY' | transloco }}: {{ form.get('visibility').value ? 'Public' : 'Private' }}
        </mat-label>
        <mat-slide-toggle [formControlName]="'visibility'" [color]="'primary'"> </mat-slide-toggle>
      </div>
      <div class="mt-1 text-md text-hint mb-2">Brief description for your profile. Basic HTML and Emoji are allowed.</div>

      <div class="flex sm:col-span-4 justify-between my-1">
        <mat-label>{{ 'ORGANIZATION.SETTINGS.RESOUCES.RESOURCE_UNLISTED_ON_SITE_PAGE' | transloco }}</mat-label>
        <mat-slide-toggle [formControlName]="'isUnlistedOnOrganizationPage'" [color]="'primary'"> </mat-slide-toggle>
      </div>
      <div class="mt-1 text-md text-hint mb-2">Brief description for your profile. Basic HTML and Emoji are allowed.</div>

      <div class="flex sm:col-span-4 justify-between my-1">
        <mat-label>{{ 'ORGANIZATION.SETTINGS.RESOUCES.RESOURCE_UNLISTED_TO_USERS_WHO_CANNOT_RESERVE' | transloco }}</mat-label>
        <mat-slide-toggle [formControlName]="'isUnlistedToUsersWhoCannotReserve'" [color]="'primary'"> </mat-slide-toggle>
      </div>
      <div class="mt-1 text-md text-hint mb-2">Brief description for your profile. Basic HTML and Emoji are allowed.</div>

      <div class="flex sm:col-span-4 justify-between my-1">
        <mat-label>{{ 'ORGANIZATION.SETTINGS.RESOUCES.RESOURCE_FULLY_HIDDEN_TO_USERS_WHO_CANNOT_RESERVE' | transloco }}</mat-label>
        <mat-slide-toggle [formControlName]="'isFullyHiddentoUsersWhoCannotReserve'" [color]="'primary'"> </mat-slide-toggle>
      </div>
      <div class="mt-1 text-md text-hint mb-2">Brief description for your profile. Basic HTML and Emoji are allowed.</div>

      <div class="flex sm:col-span-4 justify-between my-1">
        <mat-label>{{ 'ORGANIZATION.SETTINGS.RESOUCES.PROMOTE_ON_SITE_PAGE_AS_A_LARGE_BUTTON_ABOVE_OTHER_RESOURCES' | transloco }}</mat-label>
        <mat-slide-toggle [formControlName]="'isPromotedOnSitePageAsALargeButtonAboveOtherResources'" [color]="'primary'"> </mat-slide-toggle>
      </div>
      <div class="mt-1 text-md text-hint mb-2">Brief description for your profile. Basic HTML and Emoji are allowed.</div>

      <div class="flex sm:col-span-4 justify-between my-1">
        <mat-label>{{ 'ORGANIZATION.SETTINGS.RESOUCES.HIDE_AVAILABILITY_ON_SITE_PAGE' | transloco }}</mat-label>
        <mat-slide-toggle [formControlName]="'isHideAvailabilityonSitePage'" [color]="'primary'"> </mat-slide-toggle>
      </div>
      <div class="mt-1 text-md text-hint mb-2">Brief description for your profile. Basic HTML and Emoji are allowed.</div>
    </div>

    <!-- Divider -->
    <div class="mt-11 mb-10 border-t"></div>

    <!-- Actions -->
    <div class="flex items-center justify-end">
      <button class="ml-4" mat-flat-button type="button" [color]="'primary'" (click)="onSubmit()">{{ 'APP.BTN.SUBMIT' | transloco }}</button>
    </div>
  </form>
</div>
