<mat-card class="columns-1 card">
<form [formGroup]="form">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Time Efficiency</mat-label>
            <input matInput formControlName="timeEfficiency" />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Timezone</mat-label>
            <input matInput formControlName="timezone" />
        </mat-form-field>
        <full-calendar class="fc-container" deepChangeDetection="true" [options]="calendarOptions"></full-calendar>
        <div style="display: flex;justify-content: end;">
            <button mat-button color="warn">Cancel</button>
            <button mat-raised-button color="primary" (click)="onSubmit()">{{btnTitle}}</button>
        </div>
    </form>
</mat-card>
