<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">
  <!-- Header -->
  <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8">
    <div class="text-lg font-extrabold tracking-tight leading-none">Create Group</div>
  </div>
  <hr class="w-full border-t my-2" />
  <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8">
    <div class="text-lg font-medium">Members added to this group will be given the sames services and permissions</div>
  </div>
  <form class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto" [formGroup]="groupForm">
    <mat-form-field class="flex-auto mx-4">
      <mat-label>Group's Name</mat-label>
      <input matInput [formControlName]="'name'" placeholder="{{ 'ORGANIZATION.FORM.STEP1.NAME' | transloco }}" required />
      <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user-group'"></mat-icon>
    </mat-form-field>
    <mat-form-field class="flex-auto mx-4">
      <input matInput [formControlName]="'member'" placeholder="{{ 'ORGANIZATION.FORM.STEP1.EMAIL' | transloco }}" />
      <mat-label>Group's Members</mat-label>
      <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
      <input matInput [formControlName]="'Add Members to Group'" />
    </mat-form-field>
    <mat-form-field class="flex-auto mx-4">
      <mat-label>Description</mat-label>
      <textarea matInput [formControlName]="'description'" placeholder="{{ 'ORGANIZATION.FORM.STEP1.DESCRIPTION' | transloco }}" [rows]="3"></textarea>
      <!-- Body -->
    </mat-form-field>

    <div class="flex items-center justify-end -mx-8 mt-8 px-8 py-2">
      <button mat-button mat-dialog-close>Cancel</button>
      <button class="px-6 ml-3" mat-flat-button [color]="'primary'" [mat-dialog-close]="true">Save</button>
    </div>
    <!-- Actions -->
    <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">
      <div class="-ml-2"></div>
      <div class="flex items-center mt-4 sm:mt-0"></div>
    </div>
  </form>
</div>
