<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">
  <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8">
    <div class="text-lg font-extrabold tracking-tight leading-none">{{ 'ORGANIZATION.SETTINGS.RESOUCES.CREATE_RESOURCE' | transloco }}</div>
  </div>
  <hr class="w-full border-t my-2" />
  <form class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto" [formGroup]="resourceForm">
    <mat-form-field class="flex-auto mx-4">
      <mat-label>{{ 'ORGANIZATION.SETTINGS.RESOUCES.NAME' | transloco }}</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-error *ngIf="getvalidationControls().name.errors && resourceForm.controls['name'].touched" class="flex-auto mx-4">
      {{ 'ORGANIZATION.SETTINGS.RESOUCES.NAME_REQUIRED' | transloco }}
    </mat-error>

    <mat-form-field class="flex-auto mx-4">
      <mat-label>{{ 'ORGANIZATION.SETTINGS.RESOUCES.CLASS' | transloco }}</mat-label>
      <mat-select [formControlName]="'resourceClass'">
        <mat-option [value]="'equipement'">{{ 'ORGANIZATION.SETTINGS.RESOUCES.EQUIPEMENT' | transloco }}</mat-option>
        <mat-option [value]="'service'">{{ 'ORGANIZATION.SETTINGS.RESOUCES.SERVICE' | transloco }}</mat-option>
        <mat-option [value]="'person'">{{ 'ORGANIZATION.SETTINGS.RESOUCES.PERSON' | transloco }}</mat-option>
        <mat-option [value]="'software'">{{ 'ORGANIZATION.SETTINGS.RESOUCES.SOFTWARE' | transloco }}</mat-option>
        <mat-option [value]="'event'">{{ 'ORGANIZATION.SETTINGS.RESOUCES.EVENT' | transloco }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-error *ngIf="getvalidationControls().resourceClass.errors && resourceForm.controls['resourceClass'].touched" class="flex-auto mx-4">
      {{ 'ORGANIZATION.SETTINGS.RESOUCES.CLASS_REQUIRED' | transloco }}
    </mat-error>

    <mat-form-field class="flex-auto mx-4">
      <mat-label>{{ 'ORGANIZATION.SETTINGS.RESOUCES.TYPE' | transloco }}</mat-label>
      <mat-select [formControlName]="'resourceType'">
        <mat-option [value]="'reservable'">{{ 'ORGANIZATION.SETTINGS.RESOUCES.RESERVABLE' | transloco }}</mat-option>
        <mat-option [value]="'requestable'">{{ 'ORGANIZATION.SETTINGS.RESOUCES.REQUESTABLE' | transloco }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-error *ngIf="getvalidationControls().resourceType.errors && resourceForm.controls['resourceType'].touched" class="flex-auto mx-4">
      {{ 'ORGANIZATION.SETTINGS.RESOUCES.TYPE_REQUIRED' | transloco }}
    </mat-error>

    <mat-form-field class="flex-auto mx-4">
      <mat-label>{{ 'ORGANIZATION.SETTINGS.RESOUCES.DESCRIPTION' | transloco }}</mat-label>
      <textarea
        matInput
        [formControlName]="'description'"
        placeholder="{{ 'ORGANIZATION.SETTINGS.RESOUCES.DESCRIPTION' | transloco }}"
        [rows]="5"></textarea>
    </mat-form-field>
    <!-- Actions -->
    <div class="flex items-center justify-end -mx-8 mt-8 px-8 py-2">
      <button mat-button mat-dialog-close>{{ 'ORGANIZATION.SETTINGS.RESOUCES.CANCEL' | transloco }}</button>
      <button [disabled]="resourceForm.invalid" class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="onSubmit()">
        {{ 'ORGANIZATION.SETTINGS.RESOUCES.SAVE' | transloco }}
      </button>
    </div>
    <!-- Actions -->
    <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">
      <div class="-ml-2"></div>
      <div class="flex items-center mt-4 sm:mt-0"></div>
    </div>
  </form>
</div>
