<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>
  <!-- Header -->
  <div class="relative flex-0 py-8 px-4 sm:p-16 overflow-hidden bg-gray-800 dark">
    <!-- Background - @formatter:off -->
    <!-- Rings -->
    <svg
      class="absolute inset-0 pointer-events-none"
      viewBox="0 0 960 540"
      width="100%"
      height="100%"
      preserveAspectRatio="xMidYMax slice"
      xmlns="http://www.w3.org/2000/svg">
      <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
        <circle r="234" cx="196" cy="23"></circle>
        <circle r="234" cx="790" cy="491"></circle>
      </g>
    </svg>
    <!-- @formatter:on -->
    <div class="z-10 relative flex flex-col items-center">
      <h2 class="text-xl font-semibold">Marketplace</h2>
      <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">What do you want to rent today?</div>
      <div class="max-w-2xl mt-6 sm:text-2xl text-center tracking-tight text-secondary">
        Rent your needed resource on cirta, the leading resources marketplace for internationals.
      </div>
    </div>
  </div>

  <!-- Main -->
  <div class="flex flex-auto p-6 sm:p-10">
    <div class="flex flex-col flex-auto w-full max-w-xs sm:max-w-5xl mx-auto">
      <!-- Filters -->
      <div class="flex flex-col sm:flex-row items-center justify-between w-full max-w-xs sm:max-w-none">
        <mat-form-field class="fuse-mat-no-subscript w-full sm:w-36">
          <mat-select [value]="'all'" (selectionChange)="filterCategories($event.value)">
            <mat-option [value]="'all'">All</mat-option>
            <mat-option [value]="'equipement'">{{ 'ORGANIZATION.SETTINGS.RESOUCES.EQUIPEMENT' | transloco }}</mat-option>
            <mat-option [value]="'service'">{{ 'ORGANIZATION.SETTINGS.RESOUCES.SERVICE' | transloco }}</mat-option>
            <mat-option [value]="'person'">{{ 'ORGANIZATION.SETTINGS.RESOUCES.PERSON' | transloco }}</mat-option>
            <mat-option [value]="'software'">{{ 'ORGANIZATION.SETTINGS.RESOUCES.SOFTWARE' | transloco }}</mat-option>
            <mat-option [value]="'event'">{{ 'ORGANIZATION.SETTINGS.RESOUCES.EVENT' | transloco }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="fuse-mat-no-subscript w-full sm:w-72 mt-4 sm:mt-0 sm:ml-4" [floatLabel]="'always'">
          <mat-icon matPrefix class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
          <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="'Search resources'" />
        </mat-form-field>
        <!-- <mat-slide-toggle class="mt-8 sm:mt-0 sm:ml-auto" [color]="'primary'" (change)="toggleCompleted($event)">
          Hide completed
        </mat-slide-toggle> -->
      </div>

      <!-- resources -->
      <ng-container *ngIf="this.resources.length; else noresources">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-8 sm:mt-10">
          <ng-container *ngFor="let resource of resources; trackBy: trackByFn">
            <!-- resource -->
            <div class="flex flex-col h-96 shadow rounded-2xl overflow-hidden bg-card">
              <div class="flex flex-col p-6">
                <div class="flex items-center justify-between">
                  <!-- resource category -->
                  <ng-container *ngIf="resource.organization.name">
                    <div
                      class="py-0.5 px-3 rounded-full text-sm font-semibold"
                      class="py-0.5 text-sm font-semibold px-3 text-green-800 bg-green-100 dark:text-green-50 dark:bg-green-500 rounded-full">
                      {{ resource.resourceClass }}
                    </div>
                  </ng-container>

                  <!-- Completed at least once -->
                  <!--                   <div class="flex items-center">
                    <ng-container *ngIf="resource.progress.completed > 0">
                      <mat-icon
                        class="icon-size-5 text-green-600"
                        [svgIcon]="'heroicons_solid:badge-check'"
                        [matTooltip]="'You completed this resource at least once'"></mat-icon>
                    </ng-container>
                  </div>
 -->
                </div>
                <!-- resource title & description -->
                <div class="mt-4 text-lg font-medium">{{ resource.name }}</div>
                <div class="mt-0.5 line-clamp-2 text-secondary">{{ resource.description }}</div>
                <div class="w-12 h-1 my-6 border-t-2"></div>
                <!-- resource time -->
                <div class="flex items-center leading-5 text-md text-secondary">
                  <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:office-building'"></mat-icon>
                  <div class="ml-1.5">{{ resource.organization.name }}</div>
                </div>
                <!-- resource completion -->
                <!--                 <div class="flex items-center mt-2 leading-5 text-md text-secondary">
                  <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:academic-cap'"></mat-icon>
                  <ng-container *ngIf="resource.progress.completed === 0">
                    <div class="ml-1.5">Never completed</div>
                  </ng-container>
                  <ng-container *ngIf="resource.progress.completed > 0">
                    <div class="ml-1.5">
                      <span>Completed</span>
                      <span class="ml-1">
                        <ng-container *ngIf="resource.progress.completed === 1">once</ng-container>
                        <ng-container *ngIf="resource.progress.completed === 2">twice</ng-container>
                        <ng-container *ngIf="resource.progress.completed > 2"
                          > {{ resource.progress.completed }}
                          {{
                            resource.progress.completed
                              | i18nPlural
                                : {
                                    '=0': 'time',
                                    '=1': 'time',
                                    other: 'times'
                                  }
                          }} 
                        </ng-container>
                      </span>
                    </div>
                  </ng-container>
                </div> -->
              </div>
              <!-- Footer -->
              <div class="flex flex-col w-full mt-auto">
                <!-- resource progress -->
                <div class="relative h-0.5">
                  <div
                    class="z-10 absolute inset-x-0 h-6 -mt-3"
                    [matTooltip]="resource.name"
                    [matTooltipPosition]="'above'"
                    [matTooltipClass]="'-mb-0.5'"></div>
                  <mat-progress-bar class="h-0.5" [value]="100"></mat-progress-bar>
                </div>

                <div class="px-6 py-4 text-right bg-gray-50 dark:bg-transparent">
                  <button mat-stroked-button [routerLink]="['marketplace/schedule', resource.id]">
                    <span class="inline-flex items-center">
                      <span>Check</span>
                      <mat-icon class="ml-1.5 icon-size-5" [svgIcon]="'heroicons_solid:arrow-sm-right'"></mat-icon>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>

      <!-- No resources -->
      <ng-template #noresources>
        <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
          <mat-icon class="icon-size-20" [svgIcon]="'iconsmind:file_search'"></mat-icon>
          <div class="mt-6 text-2xl font-semibold tracking-tight text-secondary">No resources found!</div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
