<div class="w-full max-w-3xl">
  <!-- Form -->
  <form [formGroup]="form">
    <div class="w-full mb-5">
      <div class="text-xl">{{ 'ORGANIZATION.SETTINGS.RESOUCES.TIME_RESTRICTION_OPTIONS' | transloco }}</div>
    </div>

    <!-- Section -->
    <div class="w-full">
      <div class="flex sm:col-span-4 justify-between my-1">
        <mat-label>{{ 'ORGANIZATION.SETTINGS.RESOUCES.RESERVATION_EDITING_WINDOW_FOR_USERS' | transloco }}</mat-label>
        <mat-slide-toggle [formControlName]="'isEditingWindowForUsers'" [color]="'primary'"> </mat-slide-toggle>
      </div>

      <div class="flex sm:col-span-4 justify-between my-1">
        <mat-label>{{ 'ORGANIZATION.SETTINGS.RESOUCES.RESTRICT_CREATING_NEW_RESERVATION_BEFORE_A_TIME' | transloco }}</mat-label>
        <mat-slide-toggle [formControlName]="'isRestrictCreatingNewReservationBeforeTime'" [color]="'primary'"> </mat-slide-toggle>
      </div>

      <div class="flex sm:col-span-4 justify-between my-1">
        <mat-label>{{ 'ORGANIZATION.SETTINGS.RESOUCES.RESTRICT_CREATING_NEW_RESERVATION_AFTER_A_TIME' | transloco }}</mat-label>
        <mat-slide-toggle [formControlName]="'isRestrictCreatingNewReservationAfterTime'" [color]="'primary'"> </mat-slide-toggle>
      </div>

      <div class="my-2">
        <div class="sm:col-span-4">
          <mat-form-field class="fuse-mat-no-subscript w-full">
            <mat-label>{{ 'ORGANIZATION.SETTINGS.RESOUCES.RESERVATION_TIME_GRANULARITY' | transloco }}</mat-label>
            <mat-select [formControlName]="'reservationTimeGranularity'">
              <mat-option [value]="'english'">X</mat-option>
              <mat-option [value]="'french'">Y</mat-option>
              <mat-option [value]="'spanish'">Z</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="flex sm:col-span-4 justify-between my-1">
        <mat-label>{{ 'ORGANIZATION.SETTINGS.RESOUCES.ALLOW_USERS_TO_END_A_RESERVATION_EARLY' | transloco }}</mat-label>
        <mat-slide-toggle [formControlName]="'isAllowUsersToEndReservationEarly'" [color]="'primary'"> </mat-slide-toggle>
      </div>

      <div class="my-2">
        <div>{{ 'ORGANIZATION.SETTINGS.RESOUCES.DEFAULT_RESERVATION_DURATION' | transloco }}</div>
        <div class="sm:col-span-4">
          <mat-form-field class="fuse-mat-no-subscript w-full">
            <input [formControlName]="'defaultReservationDuration'" matInput />
          </mat-form-field>
        </div>
      </div>

      <div class="my-2">
        <div>{{ 'ORGANIZATION.SETTINGS.RESOUCES.RESERVATION_DURATION_MINIMUM' | transloco }}</div>
        <div class="sm:col-span-4">
          <mat-form-field class="fuse-mat-no-subscript w-full">
            <input [formControlName]="'reservationDurationMinimum'" matInput />
          </mat-form-field>
        </div>
      </div>

      <div class="my-2">
        <div>{{ 'ORGANIZATION.SETTINGS.RESOUCES.RESERVATION_DURATION_MAXIMUM' | transloco }}</div>
        <div class="sm:col-span-4">
          <mat-form-field class="fuse-mat-no-subscript w-full">
            <input [formControlName]="'reservationDurationMaximum'" matInput />
          </mat-form-field>
        </div>
      </div>

      <div class="my-2">
        <div>{{ 'ORGANIZATION.SETTINGS.RESOUCES.BUFFER_TIME_BEFORE_RESERVATION' | transloco }}</div>
        <div class="sm:col-span-4">
          <mat-form-field class="fuse-mat-no-subscript w-full">
            <input [formControlName]="'bufferTimeBeforeReservation'" matInput />
          </mat-form-field>
        </div>
      </div>
    </div>

    <!-- Divider -->
    <div class="mt-11 mb-10 border-t"></div>

    <!-- Actions -->
    <div class="flex items-center justify-end">
      <button mat-stroked-button type="button">Cancel</button>
      <button class="ml-4" mat-flat-button type="button" [color]="'primary'" (click)="onSubmit()">{{ 'APP.BTN.SUBMIT' | transloco }}</button>
    </div>
  </form>
</div>
