<div class="w-full max-w-3xl">

    <!-- Form -->
    <form [formGroup]="form">

        <div class="w-full mb-5">
            <div class="text-xl">Time Restriction Options</div>
            <div class="text-secondary">Following information is publicly displayed, be careful!</div>
        </div>

        <!-- Section -->
        <div class="w-full">

            <div class="flex sm:col-span-4 justify-between my-1">
                <mat-label>Reservation Editing Window for Users</mat-label>
                <mat-slide-toggle [formControlName]="'isEditingWindowForUsers'" [color]="'primary'">
                </mat-slide-toggle>
            </div>
            <div class="mt-1 text-md text-hint mb-2">Brief description for your profile. Basic HTML and Emoji are allowed.</div>

            <div class="flex sm:col-span-4 justify-between my-1">
                <mat-label>Restrict Creating New Reservation Before a Time</mat-label>
                <mat-slide-toggle [formControlName]="'isRestrictCreatingNewReservationBeforeTime'" [color]="'primary'">
                </mat-slide-toggle>
            </div>
            <div class="mt-1 text-md text-hint mb-2">Brief description for your profile. Basic HTML and Emoji are allowed.</div>

            <div class="flex sm:col-span-4 justify-between my-1">
                <mat-label>Restrict Creating New Reservation After a Time</mat-label>
                <mat-slide-toggle [formControlName]="'isRestrictCreatingNewReservationAfterTime'" [color]="'primary'">
                </mat-slide-toggle>
            </div>
            <div class="mt-1 text-md text-hint mb-2">Brief description for your profile. Basic HTML and Emoji are allowed.</div>

            <div class="my-2">
                <div class="sm:col-span-4">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Reservation Time Granularity</mat-label>
                        <mat-select [formControlName]="'reservationTimeGranularity'">
                            <mat-option [value]="'english'">X</mat-option>
                            <mat-option [value]="'french'">Y</mat-option>
                            <mat-option [value]="'spanish'">Z</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="flex sm:col-span-4 justify-between my-1">
                <mat-label>Allow Users to End a Reservation Early</mat-label>
                <mat-slide-toggle [formControlName]="'isAllowUsersToEndReservationEarly'" [color]="'primary'">
                </mat-slide-toggle>
            </div>
            <div class="mt-1 text-md text-hint mb-2">Brief description for your profile. Basic HTML and Emoji are allowed.</div>

            <div class="my-2">
                <div>Default Reservation Duration</div>
                <div class="sm:col-span-4">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <input [formControlName]="'defaultReservationDuration'" matInput>
                    </mat-form-field>
                </div>
            </div>

            <div class="my-2">
                <div>Reservation Duration Minimum</div>
                <div class="sm:col-span-4">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <input [formControlName]="'reservationDurationMinimum'" matInput>
                    </mat-form-field>
                </div>
            </div>

            <div class="my-2">
                <div>Reservation Duration Maximum</div>
                <div class="sm:col-span-4">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <input [formControlName]="'reservationDurationMaximum'" matInput>
                    </mat-form-field>
                </div>
            </div>

            <div class="my-2">
                <div>Buffer Time Before Reservation</div>
                <div class="sm:col-span-4">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <input [formControlName]="'bufferTimeBeforeReservation'" matInput>
                    </mat-form-field>
                </div>
            </div>

        </div>


        <!-- Divider -->
        <div class="mt-11 mb-10 border-t"></div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button mat-stroked-button type="button">
                Cancel
            </button>
            <button class="ml-4" mat-flat-button type="button" [color]="'primary'" (click)="onSubmit()">Save
            </button>
        </div>
    </form>
</div>
