<div class="flex flex-col mt-4 pt-6 space-y-8">
  <form [formGroup]="userForm">
    <ng-container *ngIf="data.user.avatar">
      <div class="relative flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card">
        <div class="absolute inset-0 bg-black bg-opacity-50 z-10"></div>
        <div class="absolute inset-0 flex items-center justify-center z-20">
          <div>
            <input
              id="avatar-file-input"
              class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
              type="file"
              [multiple]="false"
              [accept]="'image/jpeg, image/png'"
              #avatarFileInput
            />
            <label
              class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
              for="avatar-file-input"
              matRipple
            >
              <mat-icon class="text-white" [svgIcon]="'heroicons_outline:camera'"></mat-icon>
            </label>
          </div>
          <div>
            <button mat-icon-button>
              <mat-icon class="text-white" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
            </button>
          </div>
        </div>

        <img class="object-cover w-full h-full" *ngIf="data.user.avatar" [src]="data.user.avatar" />
        <div
          class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
          *ngIf="!data.user.avatar"
        >
          {{ data.user.name.charAt(0) }}
        </div>
      </div>
    </ng-container>

    <div class="mt-8">
      <mat-form-field class="fuse-mat-no-subscript w-full">
        <mat-label>{{ 'APP.ROUTES.USER.ABOUT.NAME' | transloco }}</mat-label>
        <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
        <input
          matInput
          [formControl]="userForm.controls['name']"
          placeholder="{{ 'APP.ROUTES.USER.ABOUT.NAME' | transloco }}"
          [spellcheck]="false"
        />
      </mat-form-field>
    </div>

    <div class="mt-8">
      <mat-form-field class="fuse-mat-no-subscript w-full">
        <mat-label>{{ 'APP.ROUTES.USER.ABOUT.TITLE' | transloco }}</mat-label>
        <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
        <input
          matInput
          [formControl]="userForm.controls['title']"
          placeholder="{{ 'APP.ROUTES.USER.ABOUT.TITLE' | transloco }}"
        />
      </mat-form-field>
    </div>

    <div class="mt-8">
      <mat-form-field class="fuse-mat-no-subscript w-full">
        <mat-label>{{ 'APP.ROUTES.USER.ABOUT.COMPANY' | transloco }}</mat-label>
        <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:office-building'"></mat-icon>
        <input
          matInput
          [formControl]="userForm.controls['company']"
          placeholder="{{ 'APP.ROUTES.USER.ABOUT.COMPANY' | transloco }}"
        />
      </mat-form-field>
    </div>

    <div class="mt-8" formArrayName="emails">
      <div class="space-y-4">
        <ng-container *ngFor="let emailForm of emails.controls; let i = index; let first = first">
          <div class="flex" [fromGroup]="emailForm">
            <mat-form-field class="fuse-mat-no-subscript flex-auto">
              <mat-label *ngIf="first">{{ 'APP.ROUTES.USER.ABOUT.EMAIL' | transloco }}</mat-label>
              <mat-icon
                  matPrefix
                  class="hidden sm:flex icon-size-5"
                  [svgIcon]="'heroicons_solid:mail'"></mat-icon>
              <input
                  matInput
                  [formControl]="emailForm.controls['email']"
                  placeholder="{{ 'APP.ROUTES.USER.ABOUT.EMAIL' | transloco }}"
                  [spellcheck]="false">
          </mat-form-field>
          </div>
        </ng-container>
      </div>
    </div>
    
  </form>
</div>
