<ng-container *ngIf="organization">
  <app-reusable-settings
    [title]="title"
    [selectedPanel]="selectedPanel"
    (onSelectedPanelChange)="changeSelectedPanel($event)"
    [panels]="panels">
    <ng-container content [ngSwitch]="selectedPanel">
      <ng-container *ngSwitchCase="'general'">
        <organization-settings-general [organization]="organization"> </organization-settings-general>
      </ng-container>
    </ng-container>
    <ng-container content [ngSwitch]="selectedPanel">
      <ng-container *ngSwitchCase="'members'">
        <organization-settings-members [organization]="organization"> </organization-settings-members>
      </ng-container>
    </ng-container>
    <ng-container content [ngSwitch]="selectedPanel">
      <ng-container *ngSwitchCase="'location'">
        <organization-settings-location [organization]="organization"> </organization-settings-location>
      </ng-container>
    </ng-container>
    <ng-container content [ngSwitch]="selectedPanel">
      <ng-container *ngSwitchCase="'reservations'">
        <organization-settings-reservations [organization]="organization"> </organization-settings-reservations>
      </ng-container>
    </ng-container>
    <ng-container content [ngSwitch]="selectedPanel">
      <ng-container *ngSwitchCase="'access'">
        <organization-settings-access [organization]="organization"> </organization-settings-access>
      </ng-container>
    </ng-container>
    <ng-container content [ngSwitch]="selectedPanel">
      <ng-container *ngSwitchCase="'subscription'">
        <organization-settings-subscription [organization]="organization"> </organization-settings-subscription>
      </ng-container>
    </ng-container>
  </app-reusable-settings>
</ng-container>
